force-app/main/default/flows/Account_Before_RTF_Refactored.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Account_Cancer_Journey_Bereaved1</name>
        <label>Account.Cancer_Journey.Bereaved</label>
        <locationX>50</locationX>
        <locationY>3695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Bereaved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Cancer_Journey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bereaved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_address_field_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Un_tick_RTS</name>
        <label>Un-tick RTS</label>
        <locationX>50</locationX>
        <locationY>3995</locationY>
        <assignmentItems>
            <assignToReference>$Record.RTS_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nullDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.RTS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>UPD_ACC_Image_Opt_In_Permission_All</name>
        <label>UPD ACC Image Opt In Permission All</label>
        <locationX>50</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>$Record.Media_Permission_All_2019__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Cancer_Journey_Bereaved</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_account_Bereaved</name>
        <label>Update account Bereaved</label>
        <locationX>50</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>$Record.Bereaved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Cancer_Journey_Deceased</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_Account_Cancer_Journey_Palliative</name>
        <label>update Account_Cancer_Journey_Palliative</label>
        <locationX>50</locationX>
        <locationY>3095</locationY>
        <assignmentItems>
            <assignToReference>$Record.Pallative__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Cancer_Journey_Relapsed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_account_deceased</name>
        <label>Update account deceased</label>
        <locationX>50</locationX>
        <locationY>2195</locationY>
        <assignmentItems>
            <assignToReference>$Record.Deceased__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Cancer_Journey_Off_Treatment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Account_field_Image_Opt_In_Participant_Sharing</name>
        <label>Update Account field Image Opt In Participant Sharing</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.media_opt_in_share_participants__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Media_permission_corporate_2019__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Media_permission_Public_2019__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_uncheck_Image_Opt_In_Participant_Sharing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Account_field_Image_Opt_In_Permission_All</name>
        <label>Update Account field Image Opt In Permission All</label>
        <locationX>50</locationX>
        <locationY>995</locationY>
        <assignmentItems>
            <assignToReference>$Record.Media_Permission_All_2019__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_uncheck_Image_Opt_In_Permission_Corporate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Account_field_Image_Opt_In_Permission_All1</name>
        <label>Update Account field Image Opt In Permission All</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>$Record.Media_Permission_All_2019__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_uncheck_Image_Opt_In_Permission_Public</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Account_field_Image_Opt_In_Permission_All_to_True</name>
        <label>Update Account field Image Opt In Permission All to True</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Media_Permission_All_2019__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_check_all_Media_Permissions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_account_off_treatment</name>
        <label>Update account off treatment</label>
        <locationX>50</locationX>
        <locationY>2495</locationY>
        <assignmentItems>
            <assignToReference>$Record.Off_Treatment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Cancer_Journey_On_Treatment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Account_On_Treatment</name>
        <label>Update Account: On Treatment</label>
        <locationX>50</locationX>
        <locationY>2795</locationY>
        <assignmentItems>
            <assignToReference>$Record.On_Treatment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Cancer_Journey_Palliative</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_on_treatment</name>
        <label>Update on treatment</label>
        <locationX>50</locationX>
        <locationY>3395</locationY>
        <assignmentItems>
            <assignToReference>$Record.On_Treatment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Relapsed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Deceased_Family_Types</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Cancer_Journey_Bereaved</name>
        <label>Account.Cancer_Journey.Bereaved</label>
        <locationX>182</locationX>
        <locationY>1787</locationY>
        <defaultConnector>
            <targetReference>Account_Cancer_Journey_Deceased</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Account_Cancer_Journey_Bereaved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Family</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cancer_Journey__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bereaved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bereaved__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_account_Bereaved</targetReference>
            </connector>
            <label>Check Account.Cancer_Journey.Bereaved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_Cancer_Journey_Deceased</name>
        <label>Account.Cancer_Journey.Deceased</label>
        <locationX>182</locationX>
        <locationY>2087</locationY>
        <defaultConnector>
            <targetReference>Account_Cancer_Journey_Off_Treatment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Account_Cancer_Journey_Deceased_conditions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Family</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cancer_Journey__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deceased</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Deceased__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_account_deceased</targetReference>
            </connector>
            <label>Check Account.Cancer_Journey.Deceased conditions</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_Cancer_Journey_Off_Treatment</name>
        <label>Account.Cancer_Journey.Off_Treatment</label>
        <locationX>182</locationX>
        <locationY>2387</locationY>
        <defaultConnector>
            <targetReference>Account_Cancer_Journey_On_Treatment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Account_Cancer_Journey_Off_Treatment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Family</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cancer_Journey__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Off Treatment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Off_Treatment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_account_off_treatment</targetReference>
            </connector>
            <label>Check Account.Cancer_Journey.Off_Treatment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_Cancer_Journey_On_Treatment</name>
        <label>Account.Cancer_Journey.On_Treatment</label>
        <locationX>182</locationX>
        <locationY>2687</locationY>
        <defaultConnector>
            <targetReference>Account_Cancer_Journey_Palliative</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Account_Cancer_Journey_On_Treatment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Family</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cancer_Journey__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Treatment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.On_Treatment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_On_Treatment</targetReference>
            </connector>
            <label>Check for Account.Cancer_Journey.On_Treatment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_Cancer_Journey_Palliative</name>
        <label>Account.Cancer_Journey.Palliative</label>
        <locationX>182</locationX>
        <locationY>2987</locationY>
        <defaultConnector>
            <targetReference>Account_Cancer_Journey_Relapsed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Account_Cancer_Journey_Palliative</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Family</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cancer_Journey__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Palliative</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pallative__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Account_Cancer_Journey_Palliative</targetReference>
            </connector>
            <label>Check for Account.Cancer_Journey.Palliative</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_Cancer_Journey_Relapsed</name>
        <label>Account.Cancer_Journey.Relapsed</label>
        <locationX>182</locationX>
        <locationY>3287</locationY>
        <defaultConnector>
            <targetReference>Deceased_Family_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Account_Cancer_Journey_Relapsed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Family</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cancer_Journey__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Relapsed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_on_treatment</targetReference>
            </connector>
            <label>Check Account.Cancer_Journey.Relapsed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_check_all_Image_Permissions</name>
        <label>Account check all Image Permissions</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Account_check_all_Media_Permissions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_all_permissions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.media_opt_in_share_participants__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Media_permission_Public_2019__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Media_permission_corporate_2019__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_field_Image_Opt_In_Permission_All_to_True</targetReference>
            </connector>
            <label>Check all permissions</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_check_all_Media_Permissions</name>
        <label>Account check all Media Permissions</label>
        <locationX>182</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>Account_uncheck_Image_Opt_In_Participant_Sharing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Image_Opt_In_Permission_All</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Media_Permission_All_2019__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_field_Image_Opt_In_Participant_Sharing</targetReference>
            </connector>
            <label>Check Image Opt In Permission All</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_uncheck_Image_Opt_In_Participant_Sharing</name>
        <label>Account uncheck Image Opt In Participant Sharing</label>
        <locationX>182</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>Account_uncheck_Image_Opt_In_Permission_Corporate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Account_uncheck_Image_Opt_In_Participant_Sharing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.media_opt_in_share_participants__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_field_Image_Opt_In_Permission_All</targetReference>
            </connector>
            <label>Check Account uncheck Image Opt In Participant Sharing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_uncheck_Image_Opt_In_Permission_Corporate</name>
        <label>Account uncheck Image Opt In Permission Corporate</label>
        <locationX>182</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Account_uncheck_Image_Opt_In_Permission_Public</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Account_uncheck_Image_Opt_In_Permission_Corporate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Media_permission_corporate_2019__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_field_Image_Opt_In_Permission_All1</targetReference>
            </connector>
            <label>Check Account uncheck Image Opt In Permission Corporate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_uncheck_Image_Opt_In_Permission_Public</name>
        <label>Account uncheck Image Opt In Permission Public</label>
        <locationX>182</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Account_Cancer_Journey_Bereaved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_Account_uncheck_Image_Opt_In_Permission_Public</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Media_permission_Public_2019__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UPD_ACC_Image_Opt_In_Permission_All</targetReference>
            </connector>
            <label>check Account uncheck Image Opt In Permission Public</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_address_field_changed</name>
        <label>Check for address field changed</label>
        <locationX>182</locationX>
        <locationY>3887</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingCity</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingStreet</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingState</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingPostalCode</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Un_tick_RTS</targetReference>
            </connector>
            <label>if Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Deceased_Family_Types</name>
        <label>Deceased Family Types</label>
        <locationX>182</locationX>
        <locationY>3587</locationY>
        <defaultConnector>
            <targetReference>Check_for_address_field_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_deceased_family_types</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Family_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bereaved Family</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Family_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Offspring Bereaved Family</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cancer_Journey__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Deceased</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Cancer_Journey_Bereaved1</targetReference>
            </connector>
            <label>Check for deceased family types</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>isNew()</expression>
    </formulas>
    <formulas>
        <name>nullDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE(&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Account Before RTF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Before RTF Refactored</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_check_all_Image_Permissions</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
