force-app/main/default/flows/Active_Volunteer_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <description>Checks if volunteer compliance is completed for the volunteer type</description>
    <environments>Default</environments>
    <interviewLabel>Active Volunteer Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Active Volunteer Type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Volunteer_Compliance</name>
        <label>Find Volunteer Compliance</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Volunteer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Volunteer__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Volunteer_Compliance_Missing__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Volunteer_Compliance__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Compliance_Criteria</name>
        <label>Get Compliance Criteria</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_compliance_criteria_to_volunteer_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Volunteer_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Volunteer_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Eligibility_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Volunteer_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Volunteer__r.Volunteer_Status__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Volunteer_Eligibility__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Volunteer_Eligibility_Criteria__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_compliance_criteria_to_volunteer_type</name>
        <label>Add compliance criteria to volunteer type</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <connector>
            <targetReference>Find_Volunteer_Compliance</targetReference>
        </connector>
        <inputAssignments>
            <field>Volunteer_Compliance_Missing__c</field>
            <value>
                <elementReference>Get_Compliance_Criteria.Volunteer_Eligibility_Criteria__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Compliance_Criteria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Volunteer_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Volunteer_Type__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-06-15</startDate>
            <startTime>07:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
</Flow>
