force-app/main/default/flows/Birthday_Reset_Birthday_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <description>Migrated from the: Birthday Reset Birthday Email workflow rule
Workflow rule description: Resets birthday email for next year&quot;</description>
    <formulas>
        <name>Reset_Next_BirthdayFormula</name>
        <dataType>Date</dataType>
        <expression>IF(DATE(YEAR(TODAY()),MONTH($Record.Birthdate),DAY($Record.Birthdate))&lt;=TODAY(), DATE(YEAR(TODAY())+1,MONTH($Record.Birthdate),DAY($Record.Birthdate)), DATE(YEAR(TODAY()),MONTH($Record.Birthdate),DAY($Record.Birthdate)))</expression>
    </formulas>
    <label>Birthday Reset Birthday Email</label>
    <migratedFromWorkflowRuleName>Birthday Reset Birthday Email</migratedFromWorkflowRuleName>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Field update for workflow rule</description>
        <name>mainUpdate</name>
        <label>mainUpdate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Next_Birthday__c</field>
            <value>
                <elementReference>Reset_Next_BirthdayFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Change after updating the Next Birthday Field</description>
        <name>ScheduledPath1Update</name>
        <label>ScheduledPath1Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Reset_Birthday_Email_System__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>mainUpdate</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Volunteer_Eligible__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Eligible</stringValue>
            </value>
        </filters>
        <filters>
            <field>Receive_Birthday_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Reset_Birthday_Email_System__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>ScheduledPath1</name>
            <connector>
                <targetReference>ScheduledPath1Update</targetReference>
            </connector>
            <label>ScheduledPath1</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
