force-app/main/default/flows/Birthday_Send_Birthday_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>sp1Volunteer_Birthday_Email</name>
        <label>Contact.Volunteer_Birthday_Email</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <actionName>Contact.Volunteer_Birthday_Email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.Volunteer_Birthday_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <description>Migrated from the: Birthday - Send Birthday Email workflow rule
Workflow rule description: sends birthday email 1 day after birthday reset&quot;</description>
    <environments>Default</environments>
    <interviewLabel>RTF-CON04-Birthday - Send Birthday Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF-CON04-Birthday - Send Birthday Email</label>
    <migratedFromWorkflowRuleName>Birthday - Send Birthday Email</migratedFromWorkflowRuleName>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Checks the rest birthday box required in workflow for volunteer email</description>
        <name>ScheduledPath2Update</name>
        <label>ScheduledPath2Update</label>
        <locationX>440</locationX>
        <locationY>276</locationY>
        <inputAssignments>
            <field>Reset_Birthday_Email_System__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Volunteer_Eligible__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Eligible</stringValue>
            </value>
        </filters>
        <filters>
            <field>Receive_Birthday_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Reset_Birthday_Email_System__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Birthdate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>ScheduledPath1</name>
            <connector>
                <targetReference>sp1Volunteer_Birthday_Email</targetReference>
            </connector>
            <label>ScheduledPath1</label>
            <offsetNumber>12</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Next_Birthday__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>ScheduledPath2</name>
            <connector>
                <targetReference>ScheduledPath2Update</targetReference>
            </connector>
            <label>ScheduledPath2</label>
            <offsetNumber>30</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Next_Birthday__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
</Flow>
