force-app/main/default/flows/callout_get_stripe_customer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Payment_Customers_Camapaign</name>
        <label>Get Payment Customers Camapaign</label>
        <locationX>428</locationX>
        <locationY>483</locationY>
        <actionName>npsp_plus__DTOInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Campaign</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isString</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>JSONStr</name>
            <value>
                <elementReference>Get_Stripe_Customers.stripeResponseJSON</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>path</name>
            <value>
                <stringValue>metadata.CampaignName</stringValue>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__DTOInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Payment_Customers_Email</name>
        <label>Get Payment Customers Email</label>
        <locationX>421</locationX>
        <locationY>747</locationY>
        <actionName>npsp_plus__DTOInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Email_was_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isString</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>JSONStr</name>
            <value>
                <elementReference>Get_Stripe_Customers.stripeResponseJSON</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>path</name>
            <value>
                <stringValue>metadata.Email</stringValue>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__DTOInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Payment_Customers_Metadata_Organisation_BillingCity</name>
        <label>Get Payment Customers Metadata Organisation BillingCity</label>
        <locationX>419</locationX>
        <locationY>4517</locationY>
        <actionName>npsp_plus__DTOInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Organisation_BillingCity_was_Found</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isString</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>JSONStr</name>
            <value>
                <elementReference>Get_Stripe_Customers.stripeResponseJSON</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>path</name>
            <value>
                <stringValue>metadata.BillingCity</stringValue>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__DTOInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Payment_Customers_Metadata_Organisation_BillingCountry</name>
        <label>Get Payment Customers Metadata Organisation BillingCountry</label>
        <locationX>442</locationX>
        <locationY>5551</locationY>
        <actionName>npsp_plus__DTOInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Organisation_BillingCountry_was_Found</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isString</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>JSONStr</name>
            <value>
                <elementReference>Get_Stripe_Customers.stripeResponseJSON</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>path</name>
            <value>
                <stringValue>metadata.BillingCountry</stringValue>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__DTOInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Payment_Customers_Metadata_Organisation_BillingPostalCode</name>
        <label>Get Payment Customers Metadata Organisation BillingPostalCode</label>
        <locationX>438</locationX>
        <locationY>5222</locationY>
        <actionName>npsp_plus__DTOInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Organisation_BillingPostalCode_was_Found</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isString</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>JSONStr</name>
            <value>
                <elementReference>Get_Stripe_Customers.stripeResponseJSON</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>path</name>
            <value>
                <stringValue>metadata.BillingPostalCode</stringValue>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__DTOInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Payment_Customers_Metadata_Organisation_BillingState</name>
        <label>Get Payment Customers Metadata Organisation BillingState</label>
        <locationX>433</locationX>
        <locationY>4868</locationY>
        <actionName>npsp_plus__DTOInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Organisation_BillingState_was_Found</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isString</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>JSONStr</name>
            <value>
                <elementReference>Get_Stripe_Customers.stripeResponseJSON</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>path</name>
            <value>
                <stringValue>metadata.BillingState</stringValue>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__DTOInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Payment_Customers_Metadata_Organisation_BillingStreet</name>
        <label>Get Payment Customers Metadata Organisation BillingStreet</label>
        <locationX>408</locationX>
        <locationY>4205</locationY>
        <actionName>npsp_plus__DTOInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Organisation_BillingStreet_was_Found</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isString</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>JSONStr</name>
            <value>
                <elementReference>Get_Stripe_Customers.stripeResponseJSON</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>path</name>
            <value>
                <stringValue>metadata.BillingStreet</stringValue>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__DTOInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Payment_Customers_Metadata_Organisation_Name</name>
        <label>Get Payment Customers Metadata Organisation Name</label>
        <locationX>398</locationX>
        <locationY>3840</locationY>
        <actionName>npsp_plus__DTOInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Organisation_name_was_Found</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isString</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>JSONStr</name>
            <value>
                <elementReference>Get_Stripe_Customers.stripeResponseJSON</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>path</name>
            <value>
                <stringValue>metadata.OrganisationName</stringValue>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__DTOInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Payment_Customers_MetadataCity</name>
        <label>Get Payment Customers MetadataCity</label>
        <locationX>439</locationX>
        <locationY>952</locationY>
        <actionName>npsp_plus__DTOInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>City_was_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isString</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>JSONStr</name>
            <value>
                <elementReference>Get_Stripe_Customers.stripeResponseJSON</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>path</name>
            <value>
                <stringValue>metadata.MailingCity</stringValue>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__DTOInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Payment_Customers_MetadataCountry</name>
        <label>Get Payment Customers MetadataCountry</label>
        <locationX>418</locationX>
        <locationY>1923</locationY>
        <actionName>npsp_plus__DTOInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Country_was_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isString</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>JSONStr</name>
            <value>
                <elementReference>Get_Stripe_Customers.stripeResponseJSON</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>path</name>
            <value>
                <stringValue>metadata.MailingCountry</stringValue>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__DTOInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Payment_Customers_MetadataFirstName</name>
        <label>Get Payment Customers MetadataFirstName</label>
        <locationX>363</locationX>
        <locationY>2275</locationY>
        <actionName>npsp_plus__DTOInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>FirstName_was_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isString</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>JSONStr</name>
            <value>
                <elementReference>Get_Stripe_Customers.stripeResponseJSON</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>path</name>
            <value>
                <stringValue>metadata.FirstName</stringValue>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__DTOInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Payment_Customers_MetadataLastName</name>
        <label>Get Payment Customers MetadataLastName</label>
        <locationX>395</locationX>
        <locationY>2504</locationY>
        <actionName>npsp_plus__DTOInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>LastName_was_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isString</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>JSONStr</name>
            <value>
                <elementReference>Get_Stripe_Customers.stripeResponseJSON</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>path</name>
            <value>
                <stringValue>metadata.LastName</stringValue>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__DTOInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Payment_Customers_MetadataPhone</name>
        <label>Get Payment Customers MetadataPhone</label>
        <locationX>388</locationX>
        <locationY>3039</locationY>
        <actionName>npsp_plus__DTOInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Phone_was_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isString</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>JSONStr</name>
            <value>
                <elementReference>Get_Stripe_Customers.stripeResponseJSON</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>path</name>
            <value>
                <stringValue>metadata.MobilePhone</stringValue>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__DTOInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Payment_Customers_MetadataPostalcode</name>
        <label>Get Payment Customers MetadataPostalcode</label>
        <locationX>435</locationX>
        <locationY>1513</locationY>
        <actionName>npsp_plus__DTOInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>PostalCode_was_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isString</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>JSONStr</name>
            <value>
                <elementReference>Get_Stripe_Customers.stripeResponseJSON</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>path</name>
            <value>
                <stringValue>metadata.MailingPostalCode</stringValue>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__DTOInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Payment_Customers_MetadataState</name>
        <label>Get Payment Customers MetadataState</label>
        <locationX>435</locationX>
        <locationY>1256</locationY>
        <actionName>npsp_plus__DTOInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>State_was_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isString</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>JSONStr</name>
            <value>
                <elementReference>Get_Stripe_Customers.stripeResponseJSON</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>path</name>
            <value>
                <stringValue>metadata.MailingState</stringValue>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__DTOInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Payment_Customers_MetadataStreet</name>
        <label>Get Payment Customers MetadataStreet</label>
        <locationX>386</locationX>
        <locationY>3532</locationY>
        <actionName>npsp_plus__DTOInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Adress_was_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isString</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>JSONStr</name>
            <value>
                <elementReference>Get_Stripe_Customers.stripeResponseJSON</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>path</name>
            <value>
                <stringValue>metadata.MailingStreet</stringValue>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__DTOInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Payment_Customers_MetadataTitle</name>
        <label>Get Payment Customers MetadataTitle</label>
        <locationX>991</locationX>
        <locationY>1933</locationY>
        <actionName>npsp_plus__DTOInvocable</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isString</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>JSONStr</name>
            <value>
                <elementReference>Get_Stripe_Customers.stripeResponseJSON</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>path</name>
            <value>
                <stringValue>metadata.title</stringValue>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__DTOInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Payment_Customers_Name</name>
        <label>Get Payment Customers Name</label>
        <locationX>966</locationX>
        <locationY>924</locationY>
        <actionName>npsp_plus__DTOInvocable</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isString</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>JSONStr</name>
            <value>
                <elementReference>Get_Stripe_Customers.stripeResponseJSON</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>path</name>
            <value>
                <stringValue>name</stringValue>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__DTOInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Stripe_Customers</name>
        <label>Get Stripe Customers</label>
        <locationX>431</locationX>
        <locationY>328</locationY>
        <actionName>npsp_plus__StripeGetEntityInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Payment_Customers_Camapaign</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>stripeEntity</name>
            <value>
                <stringValue>customers</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stripeEntityId</name>
            <value>
                <elementReference>stripeCustomerId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__StripeGetEntityInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assignment_City</name>
        <label>Assignment City</label>
        <locationX>239</locationX>
        <locationY>1245</locationY>
        <assignmentItems>
            <assignToReference>contactVar.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Customers_MetadataCity.stringValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Payment_Customers_MetadataState</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Contact</name>
        <label>Assignment Contact</label>
        <locationX>956</locationX>
        <locationY>3431</locationY>
        <assignmentItems>
            <assignToReference>contactVar.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Customers_Email.stringValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactVar.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Customers_MetadataLastName.stringValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactVar.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Customers_MetadataFirstName.stringValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactVar.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Customers_MetadataCity.stringValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactVar.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Customers_MetadataState.stringValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactVar.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Customers_MetadataPostalcode.stringValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactVar.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Customers_MetadataCountry.stringValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactVar.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Customers_MetadataStreet.stringValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactVar.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Customers_MetadataPhone.stringValue</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assignment_Country</name>
        <label>Assignment Country</label>
        <locationX>205</locationX>
        <locationY>2250</locationY>
        <assignmentItems>
            <assignToReference>contactVar.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Customers_MetadataCountry.stringValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Payment_Customers_MetadataFirstName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Email</name>
        <label>Assignment Email</label>
        <locationX>243</locationX>
        <locationY>959</locationY>
        <assignmentItems>
            <assignToReference>contactVar.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Customers_Email.stringValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Payment_Customers_MetadataCity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_FirstName</name>
        <label>Assignment FirstName</label>
        <locationX>201</locationX>
        <locationY>2640</locationY>
        <assignmentItems>
            <assignToReference>contactVar.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Customers_MetadataFirstName.stringValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Payment_Customers_MetadataLastName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_LastName</name>
        <label>Assignment LastName</label>
        <locationX>198</locationX>
        <locationY>3051</locationY>
        <assignmentItems>
            <assignToReference>contactVar.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Customers_MetadataLastName.stringValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Payment_Customers_MetadataPhone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Metadata_Contact</name>
        <label>Assignment Metadata Contact</label>
        <locationX>711</locationX>
        <locationY>406</locationY>
        <assignmentItems>
            <assignToReference>contactVar.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>metadataLastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactVar.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>metadataFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactVar.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>metadataEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactVar.Salutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>metadataTitle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactVar.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>metadataPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactVar.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>metadataAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactVar.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>metadataPostalcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactVar.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>metadataCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactVar.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>metadataCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactVar.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>metadataState</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assignment_Name</name>
        <label>Assignment Name</label>
        <locationX>1069</locationX>
        <locationY>944</locationY>
        <assignmentItems>
            <assignToReference>contactVar.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Customers_Name.stringValue</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assignment_Org_BillingCity</name>
        <label>Assignment Org BillingCity</label>
        <locationX>180</locationX>
        <locationY>4876</locationY>
        <assignmentItems>
            <assignToReference>organisationVar.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Customers_Metadata_Organisation_BillingCity.stringValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Payment_Customers_Metadata_Organisation_BillingState</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Org_BillingCountry</name>
        <label>Assignment Org BillingCountry</label>
        <locationX>200</locationX>
        <locationY>5917</locationY>
        <assignmentItems>
            <assignToReference>organisationVar.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Customers_Metadata_Organisation_BillingCountry.stringValue</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assignment_Org_BillingPostalCode</name>
        <label>Assignment Org BillingPostalCode</label>
        <locationX>189</locationX>
        <locationY>5557</locationY>
        <assignmentItems>
            <assignToReference>organisationVar.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Customers_Metadata_Organisation_BillingPostalCode.stringValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Payment_Customers_Metadata_Organisation_BillingCountry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Org_BillingState</name>
        <label>Assignment Org BillingState</label>
        <locationX>185</locationX>
        <locationY>5228</locationY>
        <assignmentItems>
            <assignToReference>organisationVar.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Customers_Metadata_Organisation_BillingState.stringValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Payment_Customers_Metadata_Organisation_BillingPostalCode</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Org_BillingStreet</name>
        <label>Assignment Org BillingStreet</label>
        <locationX>186</locationX>
        <locationY>4524</locationY>
        <assignmentItems>
            <assignToReference>organisationVar.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Customers_Metadata_Organisation_BillingStreet.stringValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Payment_Customers_Metadata_Organisation_BillingCity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Org_Name</name>
        <label>Assignment Org Name</label>
        <locationX>186</locationX>
        <locationY>4206</locationY>
        <assignmentItems>
            <assignToReference>organisationVar.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Customers_Metadata_Organisation_Name.stringValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Payment_Customers_Metadata_Organisation_BillingStreet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Phone</name>
        <label>Assignment Phone</label>
        <locationX>177</locationX>
        <locationY>3533</locationY>
        <assignmentItems>
            <assignToReference>contactVar.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Customers_MetadataPhone.stringValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Payment_Customers_MetadataStreet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_PostalCode</name>
        <label>Assignment PostalCode</label>
        <locationX>227</locationX>
        <locationY>1815</locationY>
        <assignmentItems>
            <assignToReference>contactVar.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Customers_MetadataPostalcode.stringValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Payment_Customers_MetadataCountry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_State</name>
        <label>Assignment State</label>
        <locationX>234</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>contactVar.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Customers_MetadataState.stringValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Payment_Customers_MetadataPostalcode</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Street</name>
        <label>Assignment Street</label>
        <locationX>173</locationX>
        <locationY>3848</locationY>
        <assignmentItems>
            <assignToReference>contactVar.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Customers_MetadataStreet.stringValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Payment_Customers_Metadata_Organisation_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Handle_Failure</name>
        <label>Handle Failure</label>
        <locationX>1234</locationX>
        <locationY>2021</locationY>
        <assignmentItems>
            <assignToReference>FlowFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Adress_was_Found</name>
        <label>Adress was Found ?</label>
        <locationX>166</locationX>
        <locationY>3687</locationY>
        <defaultConnector>
            <targetReference>Get_Payment_Customers_Metadata_Organisation_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Adrees</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Customers_MetadataStreet.stringValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Street</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>City_was_Found</name>
        <label>City was Found ?</label>
        <locationX>231</locationX>
        <locationY>1081</locationY>
        <defaultConnector>
            <targetReference>Get_Payment_Customers_MetadataState</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_City</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Customers_MetadataCity.stringValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_City</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContactVar_is_exist</name>
        <label>ContactVar is exist?</label>
        <locationX>891</locationX>
        <locationY>404</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactVar.LastName</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Country_was_Found</name>
        <label>Country was Found ?</label>
        <locationX>215</locationX>
        <locationY>2012</locationY>
        <defaultConnector>
            <targetReference>Get_Payment_Customers_MetadataFirstName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Country</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Customers_MetadataCountry.stringValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Country</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_was_Found</name>
        <label>Email was Found ?</label>
        <locationX>241</locationX>
        <locationY>808</locationY>
        <defaultConnector>
            <targetReference>Get_Payment_Customers_MetadataCity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Customers_Email.stringValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>FirstName_was_Found</name>
        <label>FirstName was Found ?</label>
        <locationX>192</locationX>
        <locationY>2453</locationY>
        <defaultConnector>
            <targetReference>Get_Payment_Customers_MetadataLastName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_FirstName</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Customers_MetadataFirstName.stringValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_FirstName</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>LastName_was_Found</name>
        <label>LastName was Found ?</label>
        <locationX>194</locationX>
        <locationY>2772</locationY>
        <defaultConnector>
            <targetReference>Get_Payment_Customers_MetadataPhone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_FirstName_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Customers_MetadataLastName.stringValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_LastName</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Metadata_is_populated</name>
        <label>Metadata is populated?</label>
        <locationX>767</locationX>
        <locationY>319</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yessss</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>metadataLastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Metadata_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Name_was_Found</name>
        <label>Name was Found ?</label>
        <locationX>963</locationX>
        <locationY>848</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Customers_Name.stringValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Name</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Organisation_BillingCity_was_Found</name>
        <label>Organisation BillingCity was Found ?</label>
        <locationX>173</locationX>
        <locationY>4712</locationY>
        <defaultConnector>
            <targetReference>Get_Payment_Customers_Metadata_Organisation_BillingState</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_BillingCity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Customers_Metadata_Organisation_BillingCity.stringValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Org_BillingCity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Organisation_BillingCountry_was_Found</name>
        <label>Organisation BillingCountry was Found ?</label>
        <locationX>192</locationX>
        <locationY>5754</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_BillingCountry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Customers_Metadata_Organisation_BillingCountry.stringValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Org_BillingCountry</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Organisation_BillingPostalCode_was_Found</name>
        <label>Organisation BillingPostalCode was Found ?</label>
        <locationX>183</locationX>
        <locationY>5394</locationY>
        <defaultConnector>
            <targetReference>Get_Payment_Customers_Metadata_Organisation_BillingCountry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_BillingPostalCode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Customers_Metadata_Organisation_BillingPostalCode.stringValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Org_BillingPostalCode</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Organisation_BillingState_was_Found</name>
        <label>Organisation BillingState was Found ?</label>
        <locationX>178</locationX>
        <locationY>5065</locationY>
        <defaultConnector>
            <targetReference>Get_Payment_Customers_Metadata_Organisation_BillingPostalCode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_BillingState</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Customers_Metadata_Organisation_BillingState.stringValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Org_BillingState</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Organisation_BillingStreet_was_Found</name>
        <label>Organisation BillingStreet was Found ?</label>
        <locationX>179</locationX>
        <locationY>4360</locationY>
        <defaultConnector>
            <targetReference>Get_Payment_Customers_Metadata_Organisation_BillingCity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_BillingStreet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Customers_Metadata_Organisation_BillingStreet.stringValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Org_BillingStreet</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Organisation_name_was_Found</name>
        <label>Organisation name was Found ?</label>
        <locationX>179</locationX>
        <locationY>4003</locationY>
        <defaultConnector>
            <targetReference>Get_Payment_Customers_Metadata_Organisation_BillingStreet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_OrgName</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Customers_Metadata_Organisation_Name.stringValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Org_Name</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_was_Found</name>
        <label>Phone was Found ?</label>
        <locationX>173</locationX>
        <locationY>3381</locationY>
        <defaultConnector>
            <targetReference>Get_Payment_Customers_MetadataStreet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Customers_MetadataPhone.stringValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Phone</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>PostalCode_was_Found</name>
        <label>PostalCode was Found ?</label>
        <locationX>221</locationX>
        <locationY>1640</locationY>
        <defaultConnector>
            <targetReference>Get_Payment_Customers_MetadataCountry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_PostalCode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Customers_MetadataPostalcode.stringValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_PostalCode</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>State_was_Found</name>
        <label>State was Found ?</label>
        <locationX>229</locationX>
        <locationY>1357</locationY>
        <defaultConnector>
            <targetReference>Get_Payment_Customers_MetadataPostalcode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_State</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Customers_MetadataState.stringValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_State</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>firstName</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT({!Get_Payment_Customers_Name.stringValue}, FIND(&quot; &quot;, {!Get_Payment_Customers_Name.stringValue})-1))</expression>
    </formulas>
    <formulas>
        <name>lastName</name>
        <dataType>String</dataType>
        <expression>RIGHT({!Get_Payment_Customers_Name.stringValue},LEN({!Get_Payment_Customers_Name.stringValue}) - FIND(&quot; &quot;, {!Get_Payment_Customers_Name.stringValue}))</expression>
    </formulas>
    <interviewLabel>callout_get_stripe_customer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>callout_get_stripe_customer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>423</locationX>
        <locationY>612</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Payment_Customers_Email</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Payment_Customers_Camapaign.stringValue</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputReference>campaignVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>303</locationX>
        <locationY>183</locationY>
        <connector>
            <targetReference>Get_Stripe_Customers</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>campaignVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>contactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Stripe</stringValue>
        </value>
    </variables>
    <variables>
        <name>contactLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>stripeCustomerId</elementReference>
        </value>
    </variables>
    <variables>
        <name>contactVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>FlowFaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>metadataAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>metadataCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>metadataCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>metadataEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>metadataFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>metadataLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>metadataPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>metadataPostalcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>metadataState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>metadataTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>npspPlusMetadata</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>TRUE</stringValue>
        </value>
    </variables>
    <variables>
        <name>organisationVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>stripeChargeAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>stripeChargeCreatedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>stripeChargeErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>stripeChargeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stripeCustomerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stripeMetadata</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stripePaymentIntentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
