force-app/main/default/flows/Campaign_Member_Segment_Code_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Segment_Code_Variables</name>
        <label>Segment Code Variables</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>DonorSegmentCode</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>DO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FundraiserSegmentCode</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>FR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SegmentCodes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FundraiserSegmentCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SegmentCodes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DonorSegmentCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SegmentCodes</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>$Record.Campaign.Segment_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_campaign_segment_code_exists</name>
        <label>Check if campaign segment code exists</label>
        <locationX>176</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_Segment_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact.Segment_Code__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Campaign.Segment_Code__c</elementReference>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_donor_status_needed</name>
        <label>Is donor status needed</label>
        <locationX>352</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Check_Segment_Codes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesDonor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Donor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Segment_Codes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Campaign Member Segment Code Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Campaign Member Segment Code Process</label>
    <loops>
        <name>Check_Segment_Codes</name>
        <label>Check Segment Codes</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>SegmentCodes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_donor_status_needed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_campaign_segment_code_exists</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Contact</name>
        <label>Get Related Contact</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Segment_Codes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_Segment_Code</name>
        <label>Update Contact Segment Code</label>
        <locationX>308</locationX>
        <locationY>1031</locationY>
        <inputAssignments>
            <field>Segment_Code__c</field>
            <value>
                <elementReference>ContactSegmentCode</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Contact</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Segment_Code_Variables</targetReference>
        </connector>
        <object>CampaignMember</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>ContactSegmentCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Related_Contact.Segment_Code__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>DonorSegmentCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Campaign.Segment_Code__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>FundraiserSegmentCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Campaign.Segment_Code__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>SegmentCodes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
