force-app/main/default/flows/Campaign_Before_RTF1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_cost_centre</name>
        <label>Add cost centre</label>
        <locationX>50</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>$Record.Account_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>4100</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Cost_Centre__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1110</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_end_date</name>
        <label>Assign end date</label>
        <locationX>50</locationX>
        <locationY>995</locationY>
        <assignmentItems>
            <assignToReference>$Record.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eventEndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_start_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Start_Date_and_End_Date</name>
        <label>Assign Start Date and End Date</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>$Record.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eventStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>endDateEvent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MoveData_Missing_GL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Make_Campaign_Inactive</name>
        <label>Make Campaign Inactive</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_end_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_campaign_code</name>
        <label>Update campaign code</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Campaign_code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CompletedToInactive</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Code_greater_then_or_less_then_campaign_code</name>
        <label>Check Code greater then or less then campaign code</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>CompletedToInactive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_criteria_evaluates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Campaign_code__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_campaign_code</targetReference>
            </connector>
            <label>If criteria evaluates true</label>
        </rules>
    </decisions>
    <decisions>
        <name>CompletedToInactive</name>
        <label>CompletedToInactive</label>
        <locationX>182</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>Update_end_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Campaign_s_that_have_status_completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Make_Campaign_Inactive</targetReference>
            </connector>
            <label>Check Campaign&apos;s that have status completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>MoveData_Missing_GL</name>
        <label>MoveData-Missing GL</label>
        <locationX>182</locationX>
        <locationY>1487</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_criteria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>zapierintegration@campquality.com.partial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_No__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_cost_centre</targetReference>
            </connector>
            <label>Check criteria</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_end_date</name>
        <label>Update end date</label>
        <locationX>182</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>Update_start_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_event_end_date_is_not_null_and_end_date_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Event_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EndDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_end_date</targetReference>
            </connector>
            <label>If event end date is not null and end date is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_start_date</name>
        <label>Update start date</label>
        <locationX>182</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>MoveData_Missing_GL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Event_Start_Date_and_Start_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Event_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Start_Date_and_End_Date</targetReference>
            </connector>
            <label>Check Event Start Date and Start Date</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>endDateEvent</name>
        <dataType>Date</dataType>
        <expression>IF(
NOT(ISBLANK(DATEVALUE( {!$Record.Event_End_Date__c}))),
DATEVALUE({!$Record.Event_End_Date__c}),
NULL)</expression>
    </formulas>
    <formulas>
        <name>eventEndDate</name>
        <dataType>Date</dataType>
        <expression>DATETIMEVALUE({!$Record.Event_End_Date__c})</expression>
    </formulas>
    <formulas>
        <name>eventStartDate</name>
        <dataType>Date</dataType>
        <expression>IF(
NOT(ISBLANK(DATEVALUE({!$Record.Event_Start_Date__c}))),
DATEVALUE({!$Record.Event_Start_Date__c}),
NULL
)</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>iSNew()</expression>
    </formulas>
    <interviewLabel>Campaign Before RTF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Campaign Before RTF1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Code_greater_then_or_less_then_campaign_code</targetReference>
        </connector>
        <object>Campaign</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
