force-app/main/default/flows/Campaign_After_RTF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Acceptance_Sent</name>
        <label>Acceptance Sent</label>
        <locationX>50</locationX>
        <locationY>4739</locationY>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.HasResponded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Acceptance Sent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>campaignMemberStatusRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Acceptance_to_be_Sent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Acceptance_to_be_Sent</name>
        <label>Acceptance to be Sent</label>
        <locationX>50</locationX>
        <locationY>4847</locationY>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.HasResponded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Acceptance to be Sent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>campaignMemberStatusRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Attended_Sent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attended_Sent</name>
        <label>Attended Sent</label>
        <locationX>50</locationX>
        <locationY>4955</locationY>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.HasResponded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Attended Sent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>campaignMemberStatusRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Attended_to_be_sent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attended_to_be_sent</name>
        <label>Attended to be sent</label>
        <locationX>50</locationX>
        <locationY>5063</locationY>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.HasResponded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Attended to be sent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>campaignMemberStatusRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cancelled_To_Be_Sent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Campaign_Status_Records_to_be_Inserted</name>
        <label>Campaign Status Records to be Inserted</label>
        <locationX>50</locationX>
        <locationY>2639</locationY>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Donor</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>campaignMemberStatusRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fundraiser_Missing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cancelled_To_Be_Sent</name>
        <label>Cancelled To Be Sent</label>
        <locationX>50</locationX>
        <locationY>5171</locationY>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled To Be Sent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>campaignMemberStatusRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Declined_Sent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Declined_Sent</name>
        <label>Declined Sent</label>
        <locationX>50</locationX>
        <locationY>5279</locationY>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.HasResponded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Declined Sent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>campaignMemberStatusRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Declined_to_be_sent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Declined_to_be_sent</name>
        <label>Declined to be sent</label>
        <locationX>50</locationX>
        <locationY>5387</locationY>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.HasResponded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Declined to be sent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>campaignMemberStatusRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Invitation_Sent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Donor_Yes1</name>
        <label>Donor Yes</label>
        <locationX>270</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>DonorExist</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Donor_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fundraiser_Campaign_Status_Records_to_be_Inserted</name>
        <label>Fundraiser Campaign Status Records to be Inserted</label>
        <locationX>50</locationX>
        <locationY>2939</locationY>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fundraiser</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>campaignMemberStatusRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prospect_Missing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fundraiser_Yes1</name>
        <label>Fundraiser Yes</label>
        <locationX>270</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>FundraiserExist</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prospect_Campaign_Member_Status_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Invitation_Sent</name>
        <label>Invitation Sent</label>
        <locationX>50</locationX>
        <locationY>5495</locationY>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invitation Sent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>campaignMemberStatusRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Invitation_to_be_Sent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Invitation_to_be_Sent</name>
        <label>Invitation to be Sent</label>
        <locationX>50</locationX>
        <locationY>5603</locationY>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.IsDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invitation to be Sent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>campaignMemberStatusRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Invite_Reminder_2_Sent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Invite_Reminder_2_Sent</name>
        <label>Invite Reminder 2 Sent</label>
        <locationX>50</locationX>
        <locationY>5711</locationY>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invite Reminder 2 Sent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>campaignMemberStatusRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Invite_Reminder_Sent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Invite_Reminder_Sent</name>
        <label>Invite Reminder Sent</label>
        <locationX>50</locationX>
        <locationY>5819</locationY>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invite Reminder Sent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>campaignMemberStatusRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>No_Show</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Show</name>
        <label>No Show</label>
        <locationX>50</locationX>
        <locationY>5927</locationY>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.HasResponded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Show</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>campaignMemberStatusRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Requested_to_Attend</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prospect_Campaign_Member_Status_Record_to_be_inserted</name>
        <label>Prospect Campaign Member Status Record to be inserted</label>
        <locationX>50</locationX>
        <locationY>3239</locationY>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>campaignMemberStatusRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recurring_Donor_Missing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prospect_Fundraiser_Yes</name>
        <label>Prospect Fundraiser Yes</label>
        <locationX>270</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>ProspectExist</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recurring_Donor_Campaign_Member_Status_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recurring_Donor_Campaign_Member_Status_Record_to_be_inserted</name>
        <label>Recurring Donor Campaign Member Status Record to be inserted</label>
        <locationX>50</locationX>
        <locationY>3539</locationY>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recurring Donor</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>campaignMemberStatusRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Team_Leader_Missing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recurring_Donor_Fundraiser_Yes</name>
        <label>Recurring Donor Fundraiser Yes</label>
        <locationX>270</locationX>
        <locationY>1955</locationY>
        <assignmentItems>
            <assignToReference>RecurringDonationExist</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Team_Leader_Campaign_Member_Status_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Requested_to_Attend</name>
        <label>Requested to Attend</label>
        <locationX>50</locationX>
        <locationY>6035</locationY>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.HasResponded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Requested to Attend</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>campaignMemberStatusRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UnsuccessfulSent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Team_Leader_Campaign_Member_Status_Record_to_be_inserted</name>
        <label>Team Leader Campaign Member Status Record to be inserted</label>
        <locationX>50</locationX>
        <locationY>3839</locationY>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Team Leader</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>campaignMemberStatusRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_GL_code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Team_Leader_Fundraiser_Yes</name>
        <label>Team Leader Fundraiser Yes</label>
        <locationX>270</locationX>
        <locationY>2255</locationY>
        <assignmentItems>
            <assignToReference>TeamLeaderExist</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Missing_Campaign_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Unsuccessful_to_be_Sent</name>
        <label>Unsuccessful to be Sent</label>
        <locationX>50</locationX>
        <locationY>6251</locationY>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.HasResponded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unsuccessful to be Sent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>campaignMemberStatusRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Vol_Acceptance_Sent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UnsuccessfulSent</name>
        <label>Unsuccessful Sent</label>
        <locationX>50</locationX>
        <locationY>6143</locationY>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.HasResponded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unsuccessful Sent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>campaignMemberStatusRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Unsuccessful_to_be_Sent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_GL_Code</name>
        <label>Update GL Code</label>
        <locationX>50</locationX>
        <locationY>4139</locationY>
        <assignmentItems>
            <assignToReference>GlCodeUpdate.Account_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>4100</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GlCodeUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignListForGlCode</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GlCodeUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CampaignListForGlCodeCheck</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Vol_Acceptance_Sent</name>
        <label>Vol - Acceptance Sent</label>
        <locationX>50</locationX>
        <locationY>6359</locationY>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vol - Acceptance Sent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>campaignMemberStatusRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Vol_Acceptance_to_be_Sent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Vol_Acceptance_to_be_Sent</name>
        <label>Vol - Acceptance to be Sent</label>
        <locationX>50</locationX>
        <locationY>6467</locationY>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vol - Acceptance to be Sent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>campaignMemberStatusRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Vol_AttendedSent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Vol_Attended_to_be_sent</name>
        <label>Vol - Attended to be sent</label>
        <locationX>50</locationX>
        <locationY>6683</locationY>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vol - Attended to be sent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>campaignMemberStatusRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Vol_Declined_Sent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Vol_AttendedSent</name>
        <label>Vol - Attended Sent</label>
        <locationX>50</locationX>
        <locationY>6575</locationY>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vol - Attended Sent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>campaignMemberStatusRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Vol_Attended_to_be_sent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Vol_Declined_Sent</name>
        <label>Vol - Declined Sent</label>
        <locationX>50</locationX>
        <locationY>6791</locationY>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vol - Declined Sent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>campaignMemberStatusRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Vol_Declined_to_be_sent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Vol_Declined_to_be_sent</name>
        <label>Vol - Declined to be sent</label>
        <locationX>50</locationX>
        <locationY>6899</locationY>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vol - Declined to be sent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>campaignMemberStatusRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Vol_Invitation_Sent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Vol_Invitation_Sent</name>
        <label>Vol - Invitation Sent</label>
        <locationX>50</locationX>
        <locationY>7007</locationY>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vol - Invitation Sent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>campaignMemberStatusRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Vol_Invitation_to_be_Sent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Vol_Invitation_to_be_Sent</name>
        <label>Vol - Invitation to be Sent</label>
        <locationX>50</locationX>
        <locationY>7115</locationY>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vol - Invitation to be Sent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>campaignMemberStatusRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Vol_Invite_reminder_sent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Vol_Invite_reminder_sent</name>
        <label>Vol - Invite reminder sent</label>
        <locationX>50</locationX>
        <locationY>7223</locationY>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vol - Invite reminder sent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>campaignMemberStatusRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Vol_Requested_to_Attend</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Vol_Requested_to_Attend</name>
        <label>Vol - Requested to Attend</label>
        <locationX>50</locationX>
        <locationY>7331</locationY>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vol - Requested to Attend</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>campaignMemberStatusRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Vol_Unsuccessful_Sent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Vol_Unsuccessful_Sent</name>
        <label>Vol - Unsuccessful Sent</label>
        <locationX>50</locationX>
        <locationY>7439</locationY>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vol - Unsuccessful Sent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>campaignMemberStatusRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Vol_Unsuccessful_to_be_Sent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Vol_Unsuccessful_to_be_Sent</name>
        <label>Vol - Unsuccessful to be Sent</label>
        <locationX>50</locationX>
        <locationY>7547</locationY>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vol - Unsuccessful to be Sent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>campaignMemberStatusRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Campaign_Member_is_blank</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CampaignListForGlCodeCheck</name>
        <label>CampaignListForGlCodeCheck</label>
        <locationX>182</locationX>
        <locationY>4331</locationY>
        <defaultConnector>
            <targetReference>Check_Recordtypes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CampaignListForGlCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateGLCodeList</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_decision_for_calling_campaign_mapping</name>
        <label>check decision for calling campaign mapping</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>CheckRecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>calling_Campaign_mapping_flow</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_GL_code</name>
        <label>Check GL code</label>
        <locationX>182</locationX>
        <locationY>4031</locationY>
        <defaultConnector>
            <targetReference>CampaignListForGlCodeCheck</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Missing_GL_Code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>jgilray@movedata.io.cq.prod.fullcopy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_No__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_GL_Code</targetReference>
            </connector>
            <label>Missing GL Code</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Campaign_Member_is_blank</name>
        <label>Check If Campaign Member is not  blank?</label>
        <locationX>182</locationX>
        <locationY>7739</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Campaign_Member_is_not_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>campaignMemberStatusList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Campaign_Members</targetReference>
            </connector>
            <label>If Campaign Member is not  blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Recordtypes</name>
        <label>Check Recordtypes?</label>
        <locationX>182</locationX>
        <locationY>4631</locationY>
        <defaultConnector>
            <targetReference>Check_If_Campaign_Member_is_blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Recordtype</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Volunteer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Age_Camp</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Family_Camp</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Family_Experience</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Family_Fun_Day</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Family_Programs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acceptance_Sent</targetReference>
            </connector>
            <label>Recordtype ?</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRecordType</name>
        <label>CheckRecordType</label>
        <locationX>380</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fundraising</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_Members</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Donor_Exists</name>
        <label>Fundraiser Exist</label>
        <locationX>402</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Prospect_Campaign_Member_Status_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Donor No</defaultConnectorLabel>
        <rules>
            <name>Fundraiser_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Missing_Campaign_Status.Label</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fundraiser</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fundraiser_Yes1</targetReference>
            </connector>
            <label>Fundraiser yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Donor_Exists</name>
        <label>Donor Exists</label>
        <locationX>402</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Donor_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Donor No</defaultConnectorLabel>
        <rules>
            <name>Donor_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Missing_Campaign_Status.Label</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Donor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Donor_Yes1</targetReference>
            </connector>
            <label>Donor Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Donor_Missing</name>
        <label>Donor Missing</label>
        <locationX>182</locationX>
        <locationY>2531</locationY>
        <defaultConnector>
            <targetReference>Fundraiser_Missing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Donor_Missing1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DonorExist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Campaign_Status_Records_to_be_Inserted</targetReference>
            </connector>
            <label>Donor Missing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fundraiser_Missing</name>
        <label>Fundraiser Missing</label>
        <locationX>182</locationX>
        <locationY>2831</locationY>
        <defaultConnector>
            <targetReference>Prospect_Missing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fundraiser_Missing1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FundraiserExist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fundraiser_Campaign_Status_Records_to_be_Inserted</targetReference>
            </connector>
            <label>Fundraiser Missing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prospect_Campaign_Member_Status_Exists</name>
        <label>Prospect Campaign Member Status Exists</label>
        <locationX>402</locationX>
        <locationY>1547</locationY>
        <defaultConnector>
            <targetReference>Recurring_Donor_Campaign_Member_Status_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prospect_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Missing_Campaign_Status.Label</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prospect_Fundraiser_Yes</targetReference>
            </connector>
            <label>Prospect Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prospect_Missing</name>
        <label>Prospect Missing</label>
        <locationX>182</locationX>
        <locationY>3131</locationY>
        <defaultConnector>
            <targetReference>Recurring_Donor_Missing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prospect_Missing1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProspectExist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prospect_Campaign_Member_Status_Record_to_be_inserted</targetReference>
            </connector>
            <label>Prospect Missing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recurring_Donor_Campaign_Member_Status_Exists</name>
        <label>Recurring Donor Campaign Member Status Exists</label>
        <locationX>402</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>Team_Leader_Campaign_Member_Status_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Recurring_Donor_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Missing_Campaign_Status.Label</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recurring Donor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recurring_Donor_Fundraiser_Yes</targetReference>
            </connector>
            <label>Recurring Donor Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recurring_Donor_Missing</name>
        <label>Recurring Donor Missing</label>
        <locationX>182</locationX>
        <locationY>3431</locationY>
        <defaultConnector>
            <targetReference>Team_Leader_Missing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Recurring_Donor_Missing1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecurringDonationExist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recurring_Donor_Campaign_Member_Status_Record_to_be_inserted</targetReference>
            </connector>
            <label>Recurring Donor Missing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Team_Leader_Campaign_Member_Status_Exists</name>
        <label>Team Leader Campaign Member Status Exists</label>
        <locationX>402</locationX>
        <locationY>2147</locationY>
        <defaultConnector>
            <targetReference>Find_Missing_Campaign_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Team_Leader_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Missing_Campaign_Status.Label</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Team Leader</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Team_Leader_Fundraiser_Yes</targetReference>
            </connector>
            <label>Team Leader Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Team_Leader_Missing</name>
        <label>Team Leader Missing</label>
        <locationX>182</locationX>
        <locationY>3731</locationY>
        <defaultConnector>
            <targetReference>Check_GL_code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Team_Leader_Missing1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TeamLeaderExist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Team_Leader_Campaign_Member_Status_Record_to_be_inserted</targetReference>
            </connector>
            <label>Team Leader Missing</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Campaign After RTF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Campaign After RTF</label>
    <loops>
        <name>Find_Missing_Campaign_Status</name>
        <label>Find Missing Campaign Status</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <collectionReference>Get_Campaign_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Donor_Exists</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Donor_Missing</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Campaign_Members</name>
        <label>Create Campaign Members</label>
        <locationX>50</locationX>
        <locationY>7847</locationY>
        <inputReference>campaignMemberStatusList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Campaign_Members</name>
        <label>Get Campaign Members</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Missing_Campaign_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateGLCodeList</name>
        <label>UpdateGLCodeList</label>
        <locationX>50</locationX>
        <locationY>4439</locationY>
        <connector>
            <targetReference>Check_Recordtypes</targetReference>
        </connector>
        <inputReference>CampaignListForGlCode</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_decision_for_calling_campaign_mapping</targetReference>
        </connector>
        <object>Campaign</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>calling_Campaign_mapping_flow</name>
        <label>calling Campaign - mapping flow</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>CheckRecordType</targetReference>
        </connector>
        <flowName>Donation_Campaign_Mapping</flowName>
        <inputAssignments>
            <name>HasCampaignAccount</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>HasCampaignContact</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>CampaignListForGlCode</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>campaignMemberStatusList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMemberStatus</objectType>
    </variables>
    <variables>
        <name>campaignMemberStatusRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMemberStatus</objectType>
    </variables>
    <variables>
        <name>DonorExist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FundraiserExist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GlCodeUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>ProspectExist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecurringDonationExist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TeamLeaderExist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
