force-app/main/default/flows/Create_Volunteer_Compliance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <collectionProcessors>
        <name>Filter_volunteer_status</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter volunteer status</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNextValueToReference>currentItem_Filter_volunteer_status</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Volunteer_Eligibility</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_volunteer_status.Volunteer_Status__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>$Record.Volunteer__r.Volunteer_Status__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Each_Volunteer_Eligibility</targetReference>
        </connector>
    </collectionProcessors>
    <environments>Default</environments>
    <interviewLabel>Create Volunteer Compliance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Volunteer Compliance</label>
    <loops>
        <name>Each_Volunteer_Eligibility</name>
        <label>Each Volunteer Eligibility</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Volunteer_Eligibility</collectionReference>
        <iterationOrder>Asc</iterationOrder>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Volunteer_Eligibility</name>
        <label>Get Volunteer Eligibility</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_volunteer_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Volunteer_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Volunteer_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Eligibility_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Volunteer_Eligibility__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Volunteer_Eligibility</targetReference>
        </connector>
        <object>Volunteer_Type__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentItem_Filter_volunteer_status</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Volunteer_Eligibility__c</objectType>
    </variables>
</Flow>
