force-app/main/default/flows/CUSTOM_payment_intent_succeeded.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Parse_Payment_Intent_Amount</name>
        <label>Parse Payment Intent Amount</label>
        <locationX>341</locationX>
        <locationY>1891</locationY>
        <actionName>npsp_plus__StripeParseAmountInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Parse_Payment_Intent_Date</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>stripeAmount</name>
            <value>
                <elementReference>stripePaymentIntentAmount</elementReference>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__StripeParseAmountInvocable</nameSegment>
        <outputParameters>
            <assignToReference>donationVar.Amount</assignToReference>
            <name>parsedAmount</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Parse_Payment_Intent_Date</name>
        <label>Parse Payment Intent Date</label>
        <locationX>484</locationX>
        <locationY>1891</locationY>
        <actionName>npsp_plus__StripeParseDateTimeInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Donation_Record_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>stripeTimestamp</name>
            <value>
                <elementReference>stripePaymentIntentCreatedAt</elementReference>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__StripeParseDateTimeInvocable</nameSegment>
        <outputParameters>
            <assignToReference>donationVar.CloseDate</assignToReference>
            <name>parsedDate</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>payment_intent_succeeded</name>
        <label>payment_intent.succeeded</label>
        <locationX>843</locationX>
        <locationY>845</locationY>
        <actionName>npsp_plus__StripePaymentIntentSucceededProc</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputJSON</name>
            <value>
                <elementReference>inputJSON</elementReference>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__StripePaymentIntentSucceededProc</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Results</name>
        <label>Assign Results</label>
        <locationX>409</locationX>
        <locationY>2426</locationY>
        <assignmentItems>
            <assignToReference>contactVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Upsert_Contact.contactVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>organisationVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Upsert_Account.accountVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Upsert_Campaign.campaignVar</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Upsert_Account_Failure</name>
        <label>Assign Upsert Account Failure</label>
        <locationX>538</locationX>
        <locationY>880</locationY>
        <assignmentItems>
            <assignToReference>FlowFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Upsert_Account.FlowFaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Upsert_Campaign_Failure</name>
        <label>Assign Upsert Campaign Failure</label>
        <locationX>531</locationX>
        <locationY>1236</locationY>
        <assignmentItems>
            <assignToReference>FlowFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Upsert_Campaign.FlowFaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Upsert_Contact_Failure</name>
        <label>Assign Upsert Contact Failure</label>
        <locationX>541</locationX>
        <locationY>1093</locationY>
        <assignmentItems>
            <assignToReference>FlowFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Upsert_Contact.FlowFaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Donation_Assignment</name>
        <label>Donation Assignment</label>
        <locationX>206</locationX>
        <locationY>1891</locationY>
        <assignmentItems>
            <assignToReference>donationVar.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Donation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donationVar.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DonationStageFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donationVar.npe01__Do_Not_Automatically_Create_Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parse_Payment_Intent_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Handle_Failure</name>
        <label>Handle Failure</label>
        <locationX>835</locationX>
        <locationY>2237</locationY>
        <assignmentItems>
            <assignToReference>FlowFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Output_Payment</name>
        <label>Output Payment</label>
        <locationX>253</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>donationVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SFRecordId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Output_Payment_0</name>
        <label>Output Payment</label>
        <locationX>747</locationX>
        <locationY>620</locationY>
        <assignmentItems>
            <assignToReference>donationVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Payment_By_Gateway_Id.npe01__Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Payment_By_Gateway_Id.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Payment_Assignment</name>
        <label>Payment Assignment</label>
        <locationX>204</locationX>
        <locationY>2190</locationY>
        <assignmentItems>
            <assignToReference>paymentVar.npe01__Payment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>donationVar.Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentVar.npsp_plus__Gateway_Transaction_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stripePaymentIntentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentVar.npe01__Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>donationVar.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentVar.npe01__Paid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IsPaidFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentVar.npe01__Payment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>donationVar.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentVar.npe01__Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Credit Card</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentVar.npsp__Gateway_Payment_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stripePaymentIntentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Donation_Account</name>
        <label>Set Donation Account</label>
        <locationX>342</locationX>
        <locationY>1537</locationY>
        <assignmentItems>
            <assignToReference>donationVar.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Upsert_Account.accountVar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Campaign_Upserted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Donation_Campaign</name>
        <label>Set Donation Campaign</label>
        <locationX>338</locationX>
        <locationY>1701</locationY>
        <assignmentItems>
            <assignToReference>donationVar.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Upsert_Campaign.campaignVar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Donation_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Donation_Contact</name>
        <label>Set Donation Contact</label>
        <locationX>343</locationX>
        <locationY>1368</locationY>
        <assignmentItems>
            <assignToReference>donationVar.npsp__Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Upsert_Contact.contactVar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Account_Upserted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Primary_Affilation</name>
        <label>Set Primary Affilation</label>
        <locationX>25</locationX>
        <locationY>996</locationY>
        <assignmentItems>
            <assignToReference>contactVar.npsp__Primary_Affiliation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Upsert_Account.accountVar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Upsert_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Throw_no_Stripe_Payment_Id_Error</name>
        <label>Throw no Stripe Payment Id Error</label>
        <locationX>753</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>FlowFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Stripe Payment Id</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Account_Upsert</name>
        <label>Check Account Upsert</label>
        <locationX>382</locationX>
        <locationY>881</locationY>
        <defaultConnector>
            <targetReference>Organisation_ID_is_true</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>UpsertAccountFailed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Upsert_Account.FlowFaultMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Upsert_Account_Failure</targetReference>
            </connector>
            <label>Failed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Account_Upserted</name>
        <label>Check Account Upserted</label>
        <locationX>197</locationX>
        <locationY>1536</locationY>
        <defaultConnector>
            <targetReference>Check_Campaign_Upserted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Upsert_Account.IsUpserted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Donation_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Campaign_Upsert</name>
        <label>Check Campaign Upsert</label>
        <locationX>377</locationX>
        <locationY>1237</locationY>
        <defaultConnector>
            <targetReference>Check_Contact_Upserted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>UpsertCampaignFailed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Upsert_Campaign.FlowFaultMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Upsert_Campaign_Failure</targetReference>
            </connector>
            <label>Failed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Campaign_Upserted</name>
        <label>Check Campaign Upserted</label>
        <locationX>193</locationX>
        <locationY>1700</locationY>
        <defaultConnector>
            <targetReference>Donation_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Upsert_Campaign.IsUpserted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Donation_Campaign</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Upsert</name>
        <label>Check Contact Upsert</label>
        <locationX>384</locationX>
        <locationY>1100</locationY>
        <defaultConnector>
            <targetReference>Upsert_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>UpsertContactFailed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Upsert_Contact.FlowFaultMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Upsert_Contact_Failure</targetReference>
            </connector>
            <label>Failed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Upserted</name>
        <label>Check Contact Upserted</label>
        <locationX>198</locationX>
        <locationY>1367</locationY>
        <defaultConnector>
            <targetReference>Check_Account_Upserted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Upsert_Contact.IsUpserted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Donation_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Payment</name>
        <label>Check Payment</label>
        <locationX>527</locationX>
        <locationY>630</locationY>
        <defaultConnector>
            <targetReference>Handle_Mode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Payment_By_Gateway_Id.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Find_Payment_By_Gateway_Id.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Output_Payment_0</targetReference>
            </connector>
            <label>Found Existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Stripe_Payment_Intent_Id</name>
        <label>Check Stripe Payment Intent Id</label>
        <locationX>521</locationX>
        <locationY>285</locationY>
        <defaultConnector>
            <targetReference>Find_Payment_By_Gateway_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>stripePaymentIntentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>stripePaymentIntentId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Throw_no_Stripe_Payment_Id_Error</targetReference>
            </connector>
            <label>Is Missing</label>
        </rules>
        <rules>
            <name>SFRecordId_not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SFRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Output_Payment</targetReference>
            </connector>
            <label>SFRecordId not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Handle_Mode</name>
        <label>Handle Mode</label>
        <locationX>528</locationX>
        <locationY>771</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Form_Submission_Invocable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formSubmissionId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>payment_intent_succeeded</targetReference>
            </connector>
            <label>Form Submission Invocable</label>
        </rules>
        <rules>
            <name>Has_NPSP_metadata</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>npspPlusMetadata</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>stripeInvoiceId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upsert_Account</targetReference>
            </connector>
            <label>Has NPSP+ metadata and No Invoice</label>
        </rules>
    </decisions>
    <decisions>
        <name>Organisation_ID_is_true</name>
        <label>Organisation ID is true ?</label>
        <locationX>220</locationX>
        <locationY>940</locationY>
        <defaultConnector>
            <targetReference>Upsert_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_is_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Upsert_Account.accountVar.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Primary_Affilation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DonationStageFormula</name>
        <dataType>String</dataType>
        <expression>IF({!stripePaymentIntentStatus} == &quot;succeeded&quot;, &quot;Closed Won&quot;, &quot;Closed Lost&quot;)</expression>
    </formulas>
    <formulas>
        <name>IsPaidFormula</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!donationVar.StageName}, &apos;Closed Won&apos;)</expression>
    </formulas>
    <interviewLabel>CUSTOM_payment_intent.succeeded {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CUSTOM_payment_intent.succeeded</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Donation</name>
        <label>Create Donation</label>
        <locationX>204</locationX>
        <locationY>2043</locationY>
        <connector>
            <targetReference>Payment_Assignment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <inputReference>donationVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Payment</name>
        <label>Create Payment</label>
        <locationX>205</locationX>
        <locationY>2363</locationY>
        <connector>
            <targetReference>Assign_Results</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <inputReference>paymentVar</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_Payment_By_Gateway_Id</name>
        <label>Find Payment By Gateway Id</label>
        <locationX>532</locationX>
        <locationY>473</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp__Gateway_Payment_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>stripePaymentIntentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npe01__OppPayment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Donation_Record_Type</name>
        <label>Get Donation Record Type</label>
        <locationX>612</locationX>
        <locationY>1899</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Donation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Donation</stringValue>
            </value>
        </filters>
        <filters>
            <field>NamespacePrefix</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>donationVar.RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <sourceTemplate>npsp_plus__payment_intent_succeeded</sourceTemplate>
    <start>
        <locationX>402</locationX>
        <locationY>101</locationY>
        <connector>
            <targetReference>Check_Stripe_Payment_Intent_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Upsert_Account</name>
        <label>Upsert Account</label>
        <locationX>230</locationX>
        <locationY>789</locationY>
        <connector>
            <targetReference>Check_Account_Upsert</targetReference>
        </connector>
        <flowName>npsp_plus__Upsert_Account_NPSP_Template</flowName>
        <inputAssignments>
            <name>accountVar</name>
            <value>
                <elementReference>organisationVar</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Upsert_Campaign</name>
        <label>Upsert Campaign</label>
        <locationX>218</locationX>
        <locationY>1182</locationY>
        <connector>
            <targetReference>Check_Campaign_Upsert</targetReference>
        </connector>
        <flowName>npsp_plus__Upsert_Campaign_NPSP_Template</flowName>
        <inputAssignments>
            <name>campaignVar</name>
            <value>
                <elementReference>campaignVar</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Upsert_Contact</name>
        <label>Upsert Contact</label>
        <locationX>221</locationX>
        <locationY>1084</locationY>
        <connector>
            <targetReference>Check_Contact_Upsert</targetReference>
        </connector>
        <flowName>npsp_plus__Upsert_Contact_NPSP_Template</flowName>
        <inputAssignments>
            <name>contactVar</name>
            <value>
                <elementReference>contactVar</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>campaignVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>contactVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>donationVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>FlowFaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>formSubmissionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>npspPlusMetadata</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>paymentVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>npe01__OppPayment__c</objectType>
    </variables>
    <variables>
        <description>The id of the existing record in SF. When it&apos;s not blank the flow logic is skipped.</description>
        <name>SFRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stripeEventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stripeInvoiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stripePaymentIntentAmount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stripePaymentIntentCreatedAt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stripePaymentIntentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>stripePaymentIntentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
