force-app/main/default/flows/CUSTOM_customer_subscription_created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Parse_Subscription_Amount</name>
        <label>Parse Subscription Amount</label>
        <locationX>345</locationX>
        <locationY>1027</locationY>
        <actionName>npsp_plus__StripeParseAmountInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Parse_Subscription_Start_Date</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>stripeAmount</name>
            <value>
                <elementReference>stripeSubscriptionAmount</elementReference>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__StripeParseAmountInvocable</nameSegment>
        <outputParameters>
            <assignToReference>recurringDonationVar.npe03__Amount__c</assignToReference>
            <name>parsedAmount</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Parse_Subscription_Anchor_Date</name>
        <label>Parse Subscription Anchor Date</label>
        <locationX>582</locationX>
        <locationY>1191</locationY>
        <actionName>npsp_plus__StripeParseDateTimeInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Parse_Subscription_Cancel_Date</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>stripeTimestamp</name>
            <value>
                <elementReference>stripeSubscriptionAnchorDate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__StripeParseDateTimeInvocable</nameSegment>
        <outputParameters>
            <assignToReference>recurringDonationVar.npsp__StartDate__c</assignToReference>
            <name>parsedDate</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Parse_Subscription_Cancel_Date</name>
        <label>Parse Subscription Cancel Date</label>
        <locationX>720</locationX>
        <locationY>1265</locationY>
        <actionName>npsp_plus__StripeParseDateTimeInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>RD_Assignment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>stripeTimestamp</name>
            <value>
                <elementReference>stripeSubscriptionCancelDate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__StripeParseDateTimeInvocable</nameSegment>
        <outputParameters>
            <assignToReference>recurringDonationVar.npsp__EndDate__c</assignToReference>
            <name>parsedDate</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Parse_Subscription_Start_Date</name>
        <label>Parse Subscription Start Date</label>
        <locationX>458</locationX>
        <locationY>1106</locationY>
        <actionName>npsp_plus__StripeParseDateTimeInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Parse_Subscription_Anchor_Date</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>stripeTimestamp</name>
            <value>
                <elementReference>stripeSubscriptionStartDate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__StripeParseDateTimeInvocable</nameSegment>
        <outputParameters>
            <assignToReference>recurringDonationVar.npe03__Date_Established__c</assignToReference>
            <name>parsedDate</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Results</name>
        <label>Assign Results</label>
        <locationX>212</locationX>
        <locationY>1893</locationY>
        <assignmentItems>
            <assignToReference>contactVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Upsert_Contact.contactVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>organisationVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Upsert_Account.accountVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Upsert_Campaign.campaignVar</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Upsert_Account_Failure</name>
        <label>Assign Upsert Account Failure</label>
        <locationX>550</locationX>
        <locationY>336</locationY>
        <assignmentItems>
            <assignToReference>FlowFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Upsert_Account.FlowFaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Upsert_Campaign_Failure</name>
        <label>Assign Upsert Campaign Failure</label>
        <locationX>531</locationX>
        <locationY>813</locationY>
        <assignmentItems>
            <assignToReference>FlowFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Upsert_Campaign.FlowFaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Upsert_Contact_Failure</name>
        <label>Assign Upsert Contact Failure</label>
        <locationX>539</locationX>
        <locationY>597</locationY>
        <assignmentItems>
            <assignToReference>FlowFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Upsert_Contact.FlowFaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assignment_Id</name>
        <label>Assignment Id</label>
        <locationX>83</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>recurringDonationVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RD.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_RD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Handle_Failure</name>
        <label>Handle Failure</label>
        <locationX>581</locationX>
        <locationY>1480</locationY>
        <assignmentItems>
            <assignToReference>FlowFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>RD_Assignment</name>
        <label>RD Assignment</label>
        <locationX>216</locationX>
        <locationY>1280</locationY>
        <assignmentItems>
            <assignToReference>recurringDonationVar.npsp__Day_of_Month__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DayOfMonthFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringDonationVar.npe03__Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RDAmountFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_RD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recurring_Donation_Assignment</name>
        <label>Recurring Donation Assignment</label>
        <locationX>216</locationX>
        <locationY>986</locationY>
        <assignmentItems>
            <assignToReference>recurringDonationVar.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recurring Donation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringDonationVar.npe03__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Upsert_Contact.contactVar.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringDonationVar.npsp__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringDonationVar.npsp_plus__Stripe_Subscription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stripeSubscriptionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringDonationVar.npe03__Organization__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Upsert_Account.accountVar.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringDonationVar.npe03__Recurring_Donation_Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Upsert_Campaign.campaignVar.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringDonationVar.npe03__Installment_Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RDInstallmentFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringDonationVar.npsp__InstallmentFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stripeSubscriptionIntervalCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringDonationVar.npsp__PaymentMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Credit Card</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parse_Subscription_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Primary_Affiliation</name>
        <label>Set Primary Affiliation</label>
        <locationX>373</locationX>
        <locationY>453</locationY>
        <assignmentItems>
            <assignToReference>contactVar.npsp__Primary_Affiliation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Upsert_Account.accountVar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Upsert_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Account_Upsert</name>
        <label>Check Account Upsert</label>
        <locationX>393</locationX>
        <locationY>337</locationY>
        <defaultConnector>
            <targetReference>Organisation_Id_is_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>UpsertAccountFailed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Upsert_Account.FlowFaultMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Upsert_Account_Failure</targetReference>
            </connector>
            <label>Failed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Campaign_Upsert</name>
        <label>Check Campaign Upsert</label>
        <locationX>374</locationX>
        <locationY>818</locationY>
        <defaultConnector>
            <targetReference>Recurring_Donation_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>UpsertCampaignFailed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Upsert_Campaign.FlowFaultMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Upsert_Campaign_Failure</targetReference>
            </connector>
            <label>Failed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Upsert</name>
        <label>Check Contact Upsert</label>
        <locationX>390</locationX>
        <locationY>599</locationY>
        <defaultConnector>
            <targetReference>Upsert_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>UpsertContactFailed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Upsert_Contact.FlowFaultMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Upsert_Contact_Failure</targetReference>
            </connector>
            <label>Failed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_account_or_contact_exists</name>
        <label>Check if account or contact exists</label>
        <locationX>366</locationX>
        <locationY>1535</locationY>
        <defaultConnectorLabel>Contact and Account Not Set</defaultConnectorLabel>
        <rules>
            <name>Account_and_Contact_are_null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recurringDonationVar.npe03__Organization__r.Id</leftValueReference>
                <operator>WasSet</operator>
            </conditions>
            <conditions>
                <leftValueReference>recurringDonationVar.npe03__Contact__r.Id</leftValueReference>
                <operator>WasSet</operator>
            </conditions>
            <connector>
                <targetReference>Create_Recurring_Donation</targetReference>
            </connector>
            <label>Account and Contact Are Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>NPSP_Metadata</name>
        <label>NPSP+ Metadata</label>
        <locationX>524</locationX>
        <locationY>185</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>npspPlusMetadata</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upsert_Account</targetReference>
            </connector>
            <label>Provided</label>
        </rules>
    </decisions>
    <decisions>
        <name>Organisation_Id_is_null</name>
        <label>Organisation Id is null?</label>
        <locationX>226</locationX>
        <locationY>387</locationY>
        <defaultConnector>
            <targetReference>Set_Primary_Affiliation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Upsert_Account.accountVar.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upsert_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>RD_Id_is_null</name>
        <label>RD Id is null?</label>
        <locationX>210</locationX>
        <locationY>1529</locationY>
        <defaultConnector>
            <targetReference>Assignment_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RD.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_account_or_contact_exists</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DayOfMonthFormula</name>
        <dataType>String</dataType>
        <expression>IF(DAY({!recurringDonationVar.npsp__StartDate__c}) == 31, &quot;Last_Day&quot;, TEXT(DAY({!recurringDonationVar.npsp__StartDate__c})))</expression>
    </formulas>
    <formulas>
        <name>DonationStageFormula</name>
        <dataType>String</dataType>
        <expression>IF({!stripePaymentIntentStatus} == &quot;succeeded&quot;, &quot;Closed Won&quot;, &quot;Closed Lost&quot;)</expression>
    </formulas>
    <formulas>
        <name>IsPaidFormula</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!donationVar.StageName}, &apos;Closed Won&apos;)</expression>
    </formulas>
    <formulas>
        <name>RDAmountFormula</name>
        <dataType>Number</dataType>
        <expression>{!recurringDonationVar.npe03__Amount__c} * {!stripeSubscriptionQuantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RDInstallmentFormula</name>
        <dataType>String</dataType>
        <expression>CASE({!stripeSubscriptionInterval},
&quot;day&quot;, &quot;Daily&quot;,
&quot;week&quot;, &quot;Weekly&quot;,
&quot;month&quot;, &quot;Monthly&quot;,
&quot;year&quot;, &quot;Yearly&quot;,
&quot;Monthly&quot;
)</expression>
    </formulas>
    <interviewLabel>CUSTOM_customer.subscription.created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CUSTOM_customer.subscription.created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Recurring_Donation</name>
        <label>Create Recurring Donation</label>
        <locationX>571</locationX>
        <locationY>1881</locationY>
        <connector>
            <targetReference>Assign_Results</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Failure</targetReference>
        </faultConnector>
        <inputReference>recurringDonationVar</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_RD</name>
        <label>Get RD</label>
        <locationX>218</locationX>
        <locationY>1385</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RD_Id_is_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp_plus__Stripe_Subscription__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>stripeSubscriptionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npe03__Recurring_Donation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_RD</name>
        <label>Update RD</label>
        <locationX>82</locationX>
        <locationY>1779</locationY>
        <connector>
            <targetReference>Assign_Results</targetReference>
        </connector>
        <inputReference>recurringDonationVar</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <sourceTemplate>npsp_plus__customer_subscription_created</sourceTemplate>
    <start>
        <locationX>410</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>NPSP_Metadata</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Upsert_Account</name>
        <label>Upsert Account</label>
        <locationX>240</locationX>
        <locationY>240</locationY>
        <connector>
            <targetReference>Check_Account_Upsert</targetReference>
        </connector>
        <flowName>npsp_plus__Upsert_Account_NPSP_Template</flowName>
        <inputAssignments>
            <name>accountVar</name>
            <value>
                <elementReference>organisationVar</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Upsert_Campaign</name>
        <label>Upsert Campaign</label>
        <locationX>225</locationX>
        <locationY>703</locationY>
        <connector>
            <targetReference>Check_Campaign_Upsert</targetReference>
        </connector>
        <flowName>npsp_plus__Upsert_Campaign_NPSP_Template</flowName>
        <inputAssignments>
            <name>campaignVar</name>
            <value>
                <elementReference>campaignVar</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Upsert_Contact</name>
        <label>Upsert Contact</label>
        <locationX>230</locationX>
        <locationY>542</locationY>
        <connector>
            <targetReference>Check_Contact_Upsert</targetReference>
        </connector>
        <flowName>npsp_plus__Upsert_Contact_NPSP_Template</flowName>
        <inputAssignments>
            <name>contactVar</name>
            <value>
                <elementReference>contactVar</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>campaignVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>contactVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>donationVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>FlowFaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>npspPlusMetadata</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>paymentVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>npe01__OppPayment__c</objectType>
    </variables>
    <variables>
        <name>recurringDonationVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>npe03__Recurring_Donation__c</objectType>
    </variables>
    <variables>
        <name>stripeEventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stripeInvoiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stripePaymentIntentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>stripePaymentIntentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stripeSubscriptionAmount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stripeSubscriptionAnchorDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stripeSubscriptionCancelDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stripeSubscriptionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stripeSubscriptionInterval</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stripeSubscriptionIntervalCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>stripeSubscriptionQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>stripeSubscriptionStartDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
