force-app/main/default/flows/Deactivate_Portal_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Check_Permission_Set_Name</name>
        <label>Check Permission Set Name</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Permission_set_not_assigned_to_the_user</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isVolunteerPermissionSet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Permission_Set.Label</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Volunteer Portal Permissions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_User_Record.Contact.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Volunteer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_User_Record.Account</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Delete_Permission_Set</targetReference>
            </connector>
            <label>isVolunteerPermissionSet</label>
        </rules>
        <rules>
            <name>isFamilyPermissionSet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Permission_Set.Label</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Family Portal Permissions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_User_Record.Contact.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Family_Member</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Delete_Records_2</targetReference>
            </connector>
            <label>isFamilyPermissionSet</label>
        </rules>
    </decisions>
    <decisions>
        <name>isUserExistOrNot</name>
        <label>isUserExistOrNot</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>User_Not_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isUserExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_User_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_User_Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_permission_Set_Assignment</targetReference>
            </connector>
            <label>isUserExist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Deactivate Portal User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deactivate Portal User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Copy_2_of_Delete_Permission_Set</name>
        <label>Copy 2 of Delete Permission Set</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Deactivate_the_user</targetReference>
        </connector>
        <inputReference>Get_permission_Set_Assignment</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Copy_2_of_Delete_Records_2</name>
        <label>Copy 2 of Delete Records 2</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Deactivate_the_user</targetReference>
        </connector>
        <inputReference>Get_permission_Set_Assignment</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Permission_Set</name>
        <label>Get Permission Set</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Permission_Set_Name</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_permission_Set_Assignment.PermissionSetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Volunteer Portal Permissions</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Label</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_permission_Set_Assignment</name>
        <label>Get permission Set Assignment</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Permission_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_User_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_User_Record</name>
        <label>Get the User Record</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isUserExistOrNot</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Deactivate_the_user</name>
        <label>Deactivate the user</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>MessageScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_User_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <screens>
        <name>MessageScreen</name>
        <label>Sucess Message Screen</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayMessage</name>
            <fieldText>&lt;p&gt;User Is deactivated and and Permission is removed&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Permission_set_not_assigned_to_the_user</name>
        <label>Permission set not assigned to the user</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Deactivate_the_user</targetReference>
        </connector>
        <fields>
            <name>noPermissionSet</name>
            <fieldText>&lt;p&gt;No user with this permission set.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>User_Not_Exist</name>
        <label>User Not Exist</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>userNotFound</name>
            <fieldText>&lt;p&gt;User Not exist&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_the_User_Record</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
