force-app/main/default/flows/Donation_Campaign_Mapping.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Get_State_from_Account</name>
        <label>Get State from Account</label>
        <locationX>1304</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>StateValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record.Account_Fundraiser__r.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_State_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_State_from_Contact</name>
        <label>Get State from Contact</label>
        <locationX>1568</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>StateValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record.Contact_Fundraising__r.MailingState</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_State_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Branch_Code_as_Head_Office</name>
        <label>Set Branch Code as Head Office</label>
        <locationX>2778</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Record.Branch_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>=&quot;01&quot;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Cost_Centre_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Branch_Code_from_Parent_Campaign</name>
        <label>Set Branch Code from Parent Campaign</label>
        <locationX>2514</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Record.Branch_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record.Parent.Branch_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Cost_Centre_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Campaign_Record_Type_to_Fundraising</name>
        <label>Set Campaign Record Type to Fundraising</label>
        <locationX>2063</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Campaign_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Cost_Centre_1910_Community_Fundraising</name>
        <label>Set Cost Centre 1910 - Community Fundraising</label>
        <locationX>2283</locationX>
        <locationY>1442</locationY>
        <assignmentItems>
            <assignToReference>Record.Cost_Centre__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1910</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_GL_Override_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Cost_Centre_from_Parent_Campaign</name>
        <label>Set Cost Centre from Parent Campaign</label>
        <locationX>2019</locationX>
        <locationY>1442</locationY>
        <assignmentItems>
            <assignToReference>Record.Cost_Centre__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record.Parent.Cost_Centre__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_GL_Override_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fundraising_Branch_Code_Default</name>
        <label>Set Fundraising Branch Code Default</label>
        <locationX>1898</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Record.Branch_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>=&quot;01&quot;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Cost_Centre_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fundraising_Branch_Code_NSW</name>
        <label>Set Fundraising Branch Code NSW</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Record.Branch_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>13</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Cost_Centre_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fundraising_Branch_Code_NT</name>
        <label>Set Fundraising Branch Code NT</label>
        <locationX>1634</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Record.Branch_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>91</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Cost_Centre_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fundraising_Branch_Code_QLD</name>
        <label>Set Fundraising Branch Code QLD</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Record.Branch_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>41</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Cost_Centre_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fundraising_Branch_Code_SA</name>
        <label>Set Fundraising Branch Code SA</label>
        <locationX>842</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Record.Branch_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>51</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Cost_Centre_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fundraising_Branch_Code_TAS</name>
        <label>Set Fundraising Branch Code TAS</label>
        <locationX>1106</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Record.Branch_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>71</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Cost_Centre_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fundraising_Branch_Code_VIC</name>
        <label>Set Fundraising Branch Code VIC</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Record.Branch_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>31</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Cost_Centre_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fundraising_Branch_Code_WA</name>
        <label>Set Fundraising Branch Code WA</label>
        <locationX>1370</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Record.Branch_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>81</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Cost_Centre_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_GL_Code_from_Parent_Campaign</name>
        <label>Set GL Code from Parent Campaign</label>
        <locationX>1612</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>Record.Account_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record.Parent.Account_No__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Campaign</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determine_Mailing_State_Contact</name>
        <label>Determine Mailing State</label>
        <locationX>974</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Set_Fundraising_Branch_Code_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default]</defaultConnectorLabel>
        <rules>
            <name>NSW_Mailing_State</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LowerCaseStateValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>nsw</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LowerCaseStateValue</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>new</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fundraising_Branch_Code_NSW</targetReference>
            </connector>
            <label>NSW</label>
        </rules>
        <rules>
            <name>VIC_Mailing_State</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LowerCaseStateValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>vic</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fundraising_Branch_Code_VIC</targetReference>
            </connector>
            <label>VIC</label>
        </rules>
        <rules>
            <name>QLD_Mailing_State</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LowerCaseStateValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>qld</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LowerCaseStateValue</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>queen</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fundraising_Branch_Code_QLD</targetReference>
            </connector>
            <label>QLD</label>
        </rules>
        <rules>
            <name>SA_Mailing_State</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LowerCaseStateValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>sa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LowerCaseStateValue</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>south</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fundraising_Branch_Code_SA</targetReference>
            </connector>
            <label>SA</label>
        </rules>
        <rules>
            <name>TAS_Mailing_State</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LowerCaseStateValue</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>tas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fundraising_Branch_Code_TAS</targetReference>
            </connector>
            <label>TAS</label>
        </rules>
        <rules>
            <name>WA_Mailing_State</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LowerCaseStateValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>wa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LowerCaseStateValue</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>west</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fundraising_Branch_Code_WA</targetReference>
            </connector>
            <label>WA</label>
        </rules>
        <rules>
            <name>NT_Mailing_State</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LowerCaseStateValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>nt</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LowerCaseStateValue</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>north</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fundraising_Branch_Code_NT</targetReference>
            </connector>
            <label>NT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Campaign_Type</name>
        <label>Evaluate Campaign Type</label>
        <locationX>2063</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Has_Branch_Code_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default]</defaultConnectorLabel>
        <rules>
            <name>DIY_Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Funraisin__Event_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>diy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_Party</targetReference>
            </connector>
            <label>DIY Campaign</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Parent_Campaign_GL_Code</name>
        <label>Evaluate Parent Campaign GL Code</label>
        <locationX>1744</locationX>
        <locationY>1850</locationY>
        <defaultConnector>
            <targetReference>Update_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Parent.Account_No__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_GL_Code_from_Parent_Campaign</targetReference>
            </connector>
            <label>Yes Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Party</name>
        <label>Evaluate Party</label>
        <locationX>1568</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Has_State_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default]</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasCampaignAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_State_from_Account</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasCampaignContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_State_from_Contact</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Branch_Code_Set</name>
        <label>Has Branch Code Set?</label>
        <locationX>2558</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Set_Branch_Code_as_Head_Office</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default]</defaultConnectorLabel>
        <rules>
            <name>Existing_Has_Branch_Code_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Branch_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Cost_Centre_Set</targetReference>
            </connector>
            <label>Existing</label>
        </rules>
        <rules>
            <name>Parent_Campaign_Has_Branch_Code_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Parent.Branch_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Branch_Code_from_Parent_Campaign</targetReference>
            </connector>
            <label>Parent Campaign</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Cost_Centre_Set</name>
        <label>Has Cost Centre Set?</label>
        <locationX>2063</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>Set_Cost_Centre_1910_Community_Fundraising</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default]</defaultConnectorLabel>
        <rules>
            <name>Existing_Has_Cost_Centre_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Cost_Centre__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_GL_Override_Set</targetReference>
            </connector>
            <label>Existing</label>
        </rules>
        <rules>
            <name>Parent_Campaign_Has_Cost_Centre_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Parent.Cost_Centre__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Cost_Centre_from_Parent_Campaign</targetReference>
            </connector>
            <label>Parent Campaign</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_GL_Code_Set</name>
        <label>Has GL Code Set?</label>
        <locationX>1898</locationX>
        <locationY>1742</locationY>
        <defaultConnector>
            <targetReference>Update_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Has_GL_Code_Set</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Record.Account_No__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Account_No__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_Parent_Campaign_GL_Code</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_GL_Override_Set</name>
        <label>Has GL Override Set?</label>
        <locationX>2063</locationX>
        <locationY>1634</locationY>
        <defaultConnector>
            <targetReference>Update_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Has_GL_Override_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Parent.GL_Override__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_GL_Code_Set</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_State_Value</name>
        <label>Has State Value?</label>
        <locationX>1568</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Has_Cost_Centre_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_State</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StateValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Determine_Mailing_State_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>LowerCaseStateValue</name>
        <dataType>String</dataType>
        <expression>LOWER({!StateValue})</expression>
    </formulas>
    <interviewLabel>Donation: Campaign - Mapping {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Donation: Campaign - Mapping</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Campaign_Record_Type</name>
        <label>Get Campaign Record Type</label>
        <locationX>2063</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Campaign_Record_Type_to_Fundraising</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fundraising</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Campaign</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Campaign</name>
        <label>Update Campaign</label>
        <locationX>2063</locationX>
        <locationY>2318</locationY>
        <inputReference>Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1937</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Campaign_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Custom_Funrasin_EventType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HasCampaignAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HasCampaignContact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Logs</name>
        <apexClass>movedata__MoveDataLogEntry</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LogsJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>StateValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
