force-app/main/default/flows/Lead_Conversion_Message.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Cond_1_Duplicate_Parent_1</name>
        <label>Cond 1 Duplicate Parent 1</label>
        <locationX>94</locationX>
        <locationY>2090</locationY>
        <assignmentItems>
            <assignToReference>cond1_DuplicateParent1</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Parent_2_Contact_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cond_Duplicate_Child_1</name>
        <label>Cond Duplicate Child 1</label>
        <locationX>94</locationX>
        <locationY>2690</locationY>
        <assignmentItems>
            <assignToReference>cond1_DuplicateChild1</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Child_2_Contact_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cond_Duplicate_Child_2</name>
        <label>Cond Duplicate Child 2</label>
        <locationX>94</locationX>
        <locationY>2990</locationY>
        <assignmentItems>
            <assignToReference>cond1_DuplicateChild2</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Child_3_Contact_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cond_Duplicate_Child_3</name>
        <label>Cond Duplicate Child 3</label>
        <locationX>94</locationX>
        <locationY>3290</locationY>
        <assignmentItems>
            <assignToReference>cond1_DuplicateChild3</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Child_4_Contact_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cond_Duplicate_Child_4</name>
        <label>Cond Duplicate Child 4</label>
        <locationX>94</locationX>
        <locationY>3590</locationY>
        <assignmentItems>
            <assignToReference>cond1_DuplicateChild4</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Does_Lead_Field_Need_To_Reset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cond_Duplicate_Parent_2</name>
        <label>Cond Duplicate Parent 2</label>
        <locationX>94</locationX>
        <locationY>2390</locationY>
        <assignmentItems>
            <assignToReference>cond1_DuplicateParent2</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Child_1_Contact_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Make sure the lead is eligible to be converted</description>
        <name>Make_Lead_Convert_Eligible</name>
        <label>Make Lead Convert NOT Eligible</label>
        <locationX>358</locationX>
        <locationY>3890</locationY>
        <assignmentItems>
            <assignToReference>Source_Record.Can_Lead_Converted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Make sure the lead is eligible to be converted</description>
        <name>Make_Lead_Not_Convert_Eligible</name>
        <label>Make Lead Convert Eligible</label>
        <locationX>94</locationX>
        <locationY>3890</locationY>
        <assignmentItems>
            <assignToReference>Source_Record.Can_Lead_Converted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Not_Eligible_To_COnvert</name>
        <label>Not Eligible To COnvert</label>
        <locationX>138</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Cond_Validation1_ConvertEligible</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validation_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Not_Eligible_To_Convert_3</name>
        <label>Not Eligible To Convert 3</label>
        <locationX>138</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>Cond_Validation2_ChildHasCancer</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Parent_1_Contact_Exists</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>All_Condition_Met_to_Convert_Lead</name>
        <label>All Condition Met to Convert Lead ?</label>
        <locationX>226</locationX>
        <locationY>4190</locationY>
        <defaultConnector>
            <targetReference>Screen_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_AllMet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cond1_DuplicateParent1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cond_Validation1_ConvertEligible</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cond_Validation2_ChildHasCancer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>cond1_DuplicateParent2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>cond1_DuplicateChild1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>cond1_DuplicateChild2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>cond1_DuplicateChild3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>cond1_DuplicateChild4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Does_Lead_Field_Need_To_Reset</name>
        <label>Does Lead Field Need To Reset</label>
        <locationX>226</locationX>
        <locationY>3782</locationY>
        <defaultConnector>
            <targetReference>Make_Lead_Convert_Eligible</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Is_Convert_Eligible_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cond_Validation1_ConvertEligible</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cond_Validation2_ChildHasCancer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>cond1_DuplicateParent1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Make_Lead_Not_Convert_Eligible</targetReference>
            </connector>
            <label>Is Convert Eligible - Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Reason for Joining = Parent or primary carer with cancer OR Parent Passed Away due to Cancer
Parent 1 Has Cancer Checkbox = True
OR 
Parent 2 Has Cancer Checkbox = True
Outcome: If False, cannot save &amp; convert.</description>
        <name>Copy_1_of_Validation_1</name>
        <label>Sub Validation 1</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Not_Eligible_To_COnvert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sub Validation 1 Failed</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Validation_1_Pass</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Source_Record.Parent_1_Has_Cancer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Source_Record.Parent_2_Has_Cancer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validation_2</targetReference>
            </connector>
            <label>Sub Validation 1 - Pass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Validation_2</name>
        <label>Sub Validation 2</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Not_Eligible_To_Convert_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fail</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Valiation_2_Pass</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Source_Record.Child_1_Has_Cancer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Source_Record.Child_2_Has_Cancer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Source_Record.Child_3_Has_Cancer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Source_Record.Child_4_Has_Cancer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Parent_1_Contact_Exists</targetReference>
            </connector>
            <label>Sub Validation 2 Pass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Child_1_Contact_Exists</name>
        <label>Does Child 1 Contact Exists</label>
        <locationX>226</locationX>
        <locationY>2582</locationY>
        <defaultConnector>
            <targetReference>Does_Child_2_Contact_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Child_1_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cond_Duplicate_Child_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Child_2_Contact_Exists</name>
        <label>Does Child 2 Contact Exists</label>
        <locationX>226</locationX>
        <locationY>2882</locationY>
        <defaultConnector>
            <targetReference>Does_Child_3_Contact_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Child_2_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cond_Duplicate_Child_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Child_3_Contact_Exists</name>
        <label>Does Child 3 Contact Exists</label>
        <locationX>226</locationX>
        <locationY>3182</locationY>
        <defaultConnector>
            <targetReference>Does_Child_4_Contact_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_4_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Child_3_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cond_Duplicate_Child_3</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Child_4_Contact_Exists</name>
        <label>Does Child 4 Contact Exists</label>
        <locationX>226</locationX>
        <locationY>3482</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Does_Lead_Field_Need_To_Reset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_5_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Child_4_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cond_Duplicate_Child_4</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Parent_1_Contact_Exists</name>
        <label>Does Parent 1 Contact Exists</label>
        <locationX>226</locationX>
        <locationY>1982</locationY>
        <defaultConnector>
            <targetReference>Does_Parent_2_Contact_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Parent_1_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cond_1_Duplicate_Parent_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Parent_2_Contact_Exists</name>
        <label>Does Parent 2 Contact Exists</label>
        <locationX>226</locationX>
        <locationY>2282</locationY>
        <defaultConnector>
            <targetReference>Does_Child_1_Contact_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Parent_2_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cond_Duplicate_Parent_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Reason for Joining = Parent or primary carer with cancer OR Parent Passed Away due to Cancer
Parent 1 Has Cancer Checkbox = True
OR 
Parent 2 Has Cancer Checkbox = True
Outcome: If False, cannot save &amp; convert.</description>
        <name>Validation_1</name>
        <label>Validation 1</label>
        <locationX>226</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Validation_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip Condition</defaultConnectorLabel>
        <rules>
            <name>Validation_1_Reason_for_Joining_YES</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Source_Record.Reason_for_Joining__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Parent or primary carer with cancer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Source_Record.Reason_for_Joining__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Parent with cancer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Validation_1</targetReference>
            </connector>
            <label>Validation 1 - Pass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validation_2</name>
        <label>Validation 2</label>
        <locationX>226</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Does_Parent_1_Contact_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip Condition</defaultConnectorLabel>
        <rules>
            <name>Valiation_2_Pass</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Source_Record.Reason_for_Joining__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Child with cancer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Validation_2</targetReference>
            </connector>
            <label>Valiation 2 Pass</label>
        </rules>
    </decisions>
    <description>This flow checks for various condition to see if lead can be converted</description>
    <environments>Default</environments>
    <formulas>
        <name>linkChild1Contact</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_580}, FIND(&apos;/services&apos;, {!$Api.Partner_Server_URL_580})) &amp; {!Get_Existing_Child_1_Contact.Id}</expression>
    </formulas>
    <formulas>
        <name>linkChild2Contact</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_580}, FIND(&apos;/services&apos;, {!$Api.Partner_Server_URL_580})) &amp; {!Get_Existing_Child_2_Contact.Id}</expression>
    </formulas>
    <formulas>
        <name>linkChild3Contact</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_580}, FIND(&apos;/services&apos;, {!$Api.Partner_Server_URL_580})) &amp; {!Get_Existing_Child_3_Contact.Id}</expression>
    </formulas>
    <formulas>
        <name>linkChild4Contact</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_580}, FIND(&apos;/services&apos;, {!$Api.Partner_Server_URL_580})) &amp; {!Get_Existing_Child_4_Contact.Id}</expression>
    </formulas>
    <formulas>
        <name>linkParent1Contact</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_580}, FIND(&apos;/services&apos;, {!$Api.Partner_Server_URL_580})) &amp; {!Get_Existing_Parent_1_Contact.Id}</expression>
    </formulas>
    <formulas>
        <name>linkParent2Contact</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_580}, FIND(&apos;/services&apos;, {!$Api.Partner_Server_URL_580})) &amp; {!Get_Existing_Parent_2_Contact.Id}</expression>
    </formulas>
    <interviewLabel>Lead Conversion Message {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Conversion Message</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get Family member Record Type id for Contact</description>
        <name>Contact_Family_Member</name>
        <label>Contact Family Member</label>
        <locationX>226</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Parent_1_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Family Member</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Existing Child 1 Record</description>
        <name>Get_Existing_Child_1_Contact</name>
        <label>Get Existing Child 1 Contact</label>
        <locationX>226</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Child_2_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Family_Member.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Source_Record.Child_1_First_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Source_Record.Child_1_Last_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Existing Child 2 Record</description>
        <name>Get_Existing_Child_2_Contact</name>
        <label>Get Existing Child 2 Contact</label>
        <locationX>226</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Child_3_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Family_Member.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Source_Record.Child_2_First_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Source_Record.Child_2_Last_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Existing Child 3 Record</description>
        <name>Get_Existing_Child_3_Contact</name>
        <label>Get Existing Child 3 Contact</label>
        <locationX>226</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Child_4_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Family_Member.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Source_Record.Child_3_First_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Source_Record.Child_3_Last_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Existing Child 4 Record</description>
        <name>Get_Existing_Child_4_Contact</name>
        <label>Get Existing Child 4 Contact</label>
        <locationX>226</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validation_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Family_Member.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Source_Record.Child_4_First_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Source_Record.Child_4_Last_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Existing Parent 1 Record</description>
        <name>Get_Existing_Parent_1_Contact</name>
        <label>Get Existing Parent 1 Contact</label>
        <locationX>226</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Parent_2_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Family_Member.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Source_Record.Parent_1_First_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Source_Record.Parent_1_Last_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Source_Record.Parent_1_Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Existing Parent 2 Record</description>
        <name>Get_Existing_Parent_2_Contact</name>
        <label>Get Existing Parent 2 Contact</label>
        <locationX>226</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Child_1_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Family_Member.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Source_Record.Parent_2_First_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Source_Record.Parent_2_Last_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Source_Record.Parent_2_Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Source Lead Record</description>
        <name>Source_Record</name>
        <label>Source Record</label>
        <locationX>226</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Family_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Parent_1_First_Name__c</queriedFields>
        <queriedFields>Parent_1_Last_Name__c</queriedFields>
        <queriedFields>Parent_1_Email__c</queriedFields>
        <queriedFields>Can_Lead_Converted__c</queriedFields>
        <queriedFields>Reason_for_Joining__c</queriedFields>
        <queriedFields>Parent_1_Has_Cancer__c</queriedFields>
        <queriedFields>Parent_2_Has_Cancer__c</queriedFields>
        <queriedFields>Child_1_Has_Cancer__c</queriedFields>
        <queriedFields>Child_2_Has_Cancer__c</queriedFields>
        <queriedFields>Child_3_Has_Cancer__c</queriedFields>
        <queriedFields>Child_4_Has_Cancer__c</queriedFields>
        <queriedFields>Child_1_First_Name__c</queriedFields>
        <queriedFields>Child_1_Birth_Date__c</queriedFields>
        <queriedFields>Child_2_First_Name__c</queriedFields>
        <queriedFields>Child_2_Birth_Date__c</queriedFields>
        <queriedFields>Child_3_First_Name__c</queriedFields>
        <queriedFields>Child_3_Birth_Date__c</queriedFields>
        <queriedFields>Child_4_First_Name__c</queriedFields>
        <queriedFields>Child_4_Birth_Date__c</queriedFields>
        <queriedFields>State</queriedFields>
        <queriedFields>PostalCode</queriedFields>
        <queriedFields>Diagnosis__c</queriedFields>
        <queriedFields>Parent_2_First_Name__c</queriedFields>
        <queriedFields>Parent_2_Last_Name__c</queriedFields>
        <queriedFields>Parent_2_Email__c</queriedFields>
        <queriedFields>Child_1_Last_Name__c</queriedFields>
        <queriedFields>Child_2_Last_Name__c</queriedFields>
        <queriedFields>Child_3_Last_Name__c</queriedFields>
        <queriedFields>Child_4_Last_Name__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Lead</name>
        <label>Update Lead</label>
        <locationX>226</locationX>
        <locationY>4082</locationY>
        <connector>
            <targetReference>All_Condition_Met_to_Convert_Lead</targetReference>
        </connector>
        <inputReference>Source_Record</inputReference>
    </recordUpdates>
    <screens>
        <description>Error Message if Any</description>
        <name>screen2</name>
        <label>Screen 2 - Eligible to Convert</label>
        <locationX>94</locationX>
        <locationY>4298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_scr1_msg_header</name>
            <fieldText>&lt;p&gt;All conditions are satisfied, and this lead can be converted. If you are not able to the &lt;strong&gt;Convert&lt;/strong&gt; button, then reload this page.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Error Message if Any</description>
        <name>Screen_1</name>
        <label>Screen 1  - Not Eligible to Convert</label>
        <locationX>358</locationX>
        <locationY>4298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>scr1_msg_header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Lead Data Quality Information :&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scr1_text</name>
            <fieldText>&lt;p&gt;This lead cannot be converted. Found a &lt;a href=&quot;{!linkParent1Contact}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;duplicate parent 1 record here&lt;/a&gt;.  &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>cond1_DuplicateParent1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr1_parent2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;This lead cannot be converted. Found a &lt;/span&gt;&lt;a href=&quot;{!linkParent2Contact}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;duplicate parent 2 record here&lt;/a&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;.  &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>cond1_DuplicateParent2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr_1_child1</name>
            <fieldText>&lt;p&gt;This lead cannot be converted. Found a &lt;a href=&quot;{!linkChild1Contact}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;duplicate child 1 record here&lt;/a&gt;.&amp;nbsp;&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>cond1_DuplicateChild1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr_1_child2</name>
            <fieldText>&lt;p&gt;This lead cannot be converted. Found a &lt;a href=&quot;{!linkChild2Contact}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;duplicate child 2 record here&lt;/a&gt;.&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>cond1_DuplicateChild2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr_1_child3</name>
            <fieldText>&lt;p&gt;This lead cannot be converted. Found a &lt;a href=&quot;{!linkChild3Contact}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;duplicate child 3 record here&lt;/a&gt;.&amp;nbsp;&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>cond1_DuplicateChild3</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr_1_child4</name>
            <fieldText>&lt;p&gt;This lead cannot be converted. Found a &lt;a href=&quot;{!linkChild4Contact}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;duplicate child 4 record here&lt;/a&gt;.&amp;nbsp;&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>cond1_DuplicateChild4</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Validation_2_display</name>
            <fieldText>&lt;p&gt;Lead cannot convert. Please identify the patient or update the Reason for Joining field.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Cond_Validation1_ConvertEligible</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Validation3_display</name>
            <fieldText>&lt;p&gt;Lead cannot convert. Please identify the patient or update the Reason for Joining field.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Cond_Validation2_ChildHasCancer</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Source_Record</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>cond1_DuplicateChild1</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>cond1_DuplicateChild2</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>cond1_DuplicateChild3</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>cond1_DuplicateChild4</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>cond1_DuplicateParent1</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>cond1_DuplicateParent2</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Cond_Validation1_ConvertEligible</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Cond_Validation2_ChildHasCancer</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>existingParent1Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Record Id of Lead</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
