force-app/main/default/flows/Lead_convert_process_new.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Get Parent Account of all Records</description>
        <name>Account_Field_Mapping</name>
        <label>Initialize Parent Account</label>
        <locationX>517</locationX>
        <locationY>2366</locationY>
        <assignmentItems>
            <assignToReference>parentAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactRecord.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentAccount.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_family_RType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentAccount.External_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentAccount.Languages__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Languages_other_than_English_Spoken_Home__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentAccount.Media_Permission_Photos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IsMediaPermission_Photo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentAccount.Media_Permission_Photo_Share__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>isMediaShare</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentAccount.Media_permission_Public_2019__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>isMediaPublic2019</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentAccount.Media_permission_corporate_2019__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>isMediaCorporate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentAccount.Media_Permission_All_2019__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>isMediaAll</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentAccount.Branch_Office__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Office_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentAccount.ATSIC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>isATSIC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentAccount.Family_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>acc_familyType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentAccount.Cancer_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Diagnosis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentAccount.Cancer_Journey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Stage_of_Treatment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentAccount.Cancer_Journey_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Social_Worker__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentAccount.Cancer_Type_Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Diagnosis_Other__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentAccount.Diagnosis_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Diagnosis_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentAccount.Regionv2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Region__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentAccount.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Parent_1_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentAccount.Mobile_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Parent_1_Mobile__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentAccount.npe01__One2OneContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentAccount.CLT_Supported__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.CLT_Supported__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Identify_Lead_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Child_1_in_List</name>
        <label>Add Child 1 in List</label>
        <locationX>50</locationX>
        <locationY>4106</locationY>
        <assignmentItems>
            <assignToReference>lstContact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>child1Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Can_Create_Child_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Child_2_in_List</name>
        <label>Add Child 2 in List</label>
        <locationX>50</locationX>
        <locationY>4814</locationY>
        <assignmentItems>
            <assignToReference>lstContact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>child2Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Can_Create_Child_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Child_3_in_List</name>
        <label>Add Child 3 in List</label>
        <locationX>50</locationX>
        <locationY>5522</locationY>
        <assignmentItems>
            <assignToReference>lstContact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Child3Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Can_Create_Child_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Child_4_in_List</name>
        <label>Add Child 4 in List</label>
        <locationX>50</locationX>
        <locationY>6230</locationY>
        <assignmentItems>
            <assignToReference>lstContact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>child4Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Parent_2_In_List</name>
        <label>Add Parent 2 In List</label>
        <locationX>50</locationX>
        <locationY>3398</locationY>
        <assignmentItems>
            <assignToReference>lstContact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>parent2Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Can_Create_Child_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assgin_Contact</name>
        <label>Assgin Contact</label>
        <locationX>517</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ContactRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_contact_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>originatingLead</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_converted_lead</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Record_Type_Id</name>
        <label>Assign Account Record Type Id</label>
        <locationX>605</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>Account_family_RType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_General_Contact_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_General_Contact</name>
        <label>Assign General Contact</label>
        <locationX>605</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>contact_general_RType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Record_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Volunteer_Contact_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_VOlunteer_Contact_R_Type</name>
        <label>Assign Volunteer Contact R Type</label>
        <locationX>605</locationX>
        <locationY>2090</locationY>
        <assignmentItems>
            <assignToReference>contact_volunteer_RType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Record_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Initialize_Current_Contact</name>
        <label>Initialize Current Contact</label>
        <locationX>842</locationX>
        <locationY>2798</locationY>
        <assignmentItems>
            <assignToReference>ContactRecord.Attachment_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact_general_RType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Parent_Last_Name_to_Child_1</name>
        <label>Parent 1 Last Name to Child 2</label>
        <locationX>138</locationX>
        <locationY>4622</locationY>
        <assignmentItems>
            <assignToReference>child2Contact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Parent_1_Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Child_2_in_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Initialize_Current_Contact</name>
        <label>Initialize Current Contact</label>
        <locationX>1106</locationX>
        <locationY>2906</locationY>
        <assignmentItems>
            <assignToReference>ContactRecord.Attachment_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact_general_RType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_RecordType_Id</name>
        <label>Get RecordType Id For Contact</label>
        <locationX>605</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>contact_familyMember_RType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extract_Account_Family_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Source_Lead_Record_Type</name>
        <label>Get Source Lead Record Type</label>
        <locationX>605</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>SourceLeadRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Record_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extract_Family_Type_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Populate values in contact from child 1 record</description>
        <name>Initialize_Child_1_Contact</name>
        <label>Initialize Child 1 Contact</label>
        <locationX>50</locationX>
        <locationY>3698</locationY>
        <assignmentItems>
            <assignToReference>child1Contact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Child_1_Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child1Contact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Child_1_First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child1Contact.Shirt_Size__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Child_1_T_Shirt_Size__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child1Contact.Gender__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Child_1_Gender__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child1Contact.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact_familyMember_RType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child1Contact.Birthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Child_1_Birth_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child1Contact.School__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Child_1_School_Validated__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child1Contact.Exclude_From_Portal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child1Contact.Family_Member_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Child_1_Family_Member_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child1Contact.Is_Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IsChild1Patient</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child1Contact.Contact_External_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>child1Contact_ExternalId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child1Contact.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child1Contact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.ConvertedAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child1Contact.npsp__Exclude_from_Household_Formal_Greeting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child1Contact.npsp__Exclude_from_Household_Informal_Greeting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child1Contact.npsp__Exclude_from_Household_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child1Contact.npsp__Deceased__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Child_1_Deceased__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child1Contact.Deceased_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Child_1_Deceased_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Child_1_has_Last_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Initialize contact record for child 2</description>
        <name>Initialize_Child_2_Contact</name>
        <label>Initialize Child 2 Contact</label>
        <locationX>50</locationX>
        <locationY>4406</locationY>
        <assignmentItems>
            <assignToReference>child2Contact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Child_2_Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child2Contact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Child_2_First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child2Contact.Gender__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Child_2_Gender__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child2Contact.School__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Child_2_School_Validated__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child2Contact.Shirt_Size__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Child_2_T_Shirt_Size__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child2Contact.Birthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Child_2_Birth_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child2Contact.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact_familyMember_RType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child2Contact.Exclude_From_Portal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child2Contact.Family_Member_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Child_2_Family_Member_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child2Contact.Is_Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IsChild2Patient</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child2Contact.Contact_External_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>child2Contact_ExternalId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child2Contact.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child2Contact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.ConvertedAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child2Contact.npsp__Exclude_from_Household_Formal_Greeting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child2Contact.npsp__Exclude_from_Household_Informal_Greeting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child2Contact.npsp__Exclude_from_Household_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Does_Child_1_has_Last_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Initialize contact by child 3</description>
        <name>Initialize_Child_3_Contact</name>
        <label>Initialize Child 3 Contact</label>
        <locationX>50</locationX>
        <locationY>5114</locationY>
        <assignmentItems>
            <assignToReference>Child3Contact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Child_3_First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child3Contact.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact_familyMember_RType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child3Contact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Child_3_Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child3Contact.Birthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Child_3_Birth_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child3Contact.Shirt_Size__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Child_3_T_Shirt_Size__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child3Contact.School__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Child_3_School_Validated__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child3Contact.Exclude_From_Portal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child3Contact.Family_Member_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Child_3_Family_Member_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child3Contact.Gender__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Child_3_Gender__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child3Contact.Is_Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IsChild3Patient</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child3Contact.Contact_External_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>child3Contact_ExternalId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child3Contact.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child3Contact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.ConvertedAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child3Contact.npsp__Exclude_from_Household_Formal_Greeting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child3Contact.npsp__Exclude_from_Household_Informal_Greeting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child3Contact.npsp__Exclude_from_Household_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Child_3_has_Last_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Block to initialize Contact with Child 4</description>
        <name>Initialize_Child_4</name>
        <label>Initialize Child 4</label>
        <locationX>50</locationX>
        <locationY>5822</locationY>
        <assignmentItems>
            <assignToReference>child4Contact.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact_familyMember_RType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child4Contact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Child_4_First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child4Contact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Child_4_Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child4Contact.Birthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Child_4_Birth_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child4Contact.Shirt_Size__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Child_4_T_Shirt_Size__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child4Contact.School__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Child_4_School_Validated__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child4Contact.Exclude_From_Portal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child4Contact.Family_Member_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Child_4_Family_Member_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child4Contact.Contact_External_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>child4Contact_ExternalId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child4Contact.Gender__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Child_4_Gender__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child4Contact.Is_Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IsChild4Patient</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child4Contact.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child4Contact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.ConvertedAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child4Contact.npsp__Exclude_from_Household_Formal_Greeting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child4Contact.npsp__Exclude_from_Household_Informal_Greeting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child4Contact.npsp__Exclude_from_Household_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Child_4_has_Last_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update Parent 1 related fields from Lead</description>
        <name>Initialize_Current_Contact</name>
        <label>Initialize Current Contact</label>
        <locationX>578</locationX>
        <locationY>2690</locationY>
        <assignmentItems>
            <assignToReference>ContactRecord.Attachment_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact_volunteer_RType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update Parent 1 related fields from Lead</description>
        <name>Initialize_Parent_1_to_Update</name>
        <label>Initialize Parent 1 to Update</label>
        <locationX>94</locationX>
        <locationY>2690</locationY>
        <assignmentItems>
            <assignToReference>ContactRecord.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Parent_1_State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Parent_1_Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Parent_1_Suburb__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.HomePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Parent_1_Home_Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Parent_1_Mobile__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Parent_1_Post_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Parent_1_Street__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.Family_Member_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Parent_1_Relationship_to_Child__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.Shirt_Size__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Parent_1_T_Shirt_Size__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.Is_Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Parent1_Is_Patient__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Parent_1_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Parent_1_First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.Exclude_From_Portal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.Portal_Access_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Family Portal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.Attachment_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact_familyMember_RType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.External_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>parent1contact_externalId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.npsp__Exclude_from_Household_Formal_Greeting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.npsp__Exclude_from_Household_Informal_Greeting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.npsp__Exclude_from_Household_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.Portal_Access__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activate</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Can_Create_Parent_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Populate all values of Parent 2 on Contact</description>
        <name>Initialize_Parent_2_Contact</name>
        <label>Initialize Parent 2 Contact</label>
        <locationX>50</locationX>
        <locationY>2990</locationY>
        <assignmentItems>
            <assignToReference>parent2Contact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Parent_2_Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parent2Contact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Parent_2_First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parent2Contact.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Parent_2_Post_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parent2Contact.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Parent_2_Street__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parent2Contact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Parent_2_Mobile__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parent2Contact.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Parent_2_State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parent2Contact.Shirt_Size__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Parent_2_T_Shirt_Size__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parent2Contact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Parent_2_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parent2Contact.Family_Member_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Parent_2_Relationship_to_Child__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parent2Contact.HomePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Parent_2_Home_Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parent2Contact.Is_Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IsParent2Patient</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parent2Contact.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Parent_2_Suburb__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parent2Contact.Exclude_From_Portal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parent2Contact.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact_familyMember_RType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parent2Contact.Contact_External_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>parent2contact_externalId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parent2Contact.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parent2Contact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.ConvertedAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parent2Contact.npsp__Exclude_from_Household_Formal_Greeting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parent2Contact.npsp__Exclude_from_Household_Informal_Greeting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parent2Contact.npsp__Exclude_from_Household_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parent2Contact.npsp__Deceased__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Parent_2_Deceased__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parent2Contact.Deceased_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Parent_2_Deceased_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Parent_2_has_Last_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Parent_1_Last_Name_to_Child_3</name>
        <label>Parent 1 Last Name to Child 3</label>
        <locationX>138</locationX>
        <locationY>5330</locationY>
        <assignmentItems>
            <assignToReference>Child3Contact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Parent_1_Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Child_3_in_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Parent_1_Last_Name_to_Child_4</name>
        <label>Parent 1 Last Name to Child 4</label>
        <locationX>138</locationX>
        <locationY>6038</locationY>
        <assignmentItems>
            <assignToReference>child4Contact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Parent_1_Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Child_4_in_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Parent_1_last_name_to_Parent_2</name>
        <label>Parent 1 last name to Parent 2</label>
        <locationX>138</locationX>
        <locationY>3206</locationY>
        <assignmentItems>
            <assignToReference>parent2Contact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Parent_1_Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Parent_2_In_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Parent_Last_Name_to_Child_1</name>
        <label>Parent Last Name to Child 1</label>
        <locationX>138</locationX>
        <locationY>3914</locationY>
        <assignmentItems>
            <assignToReference>child1Contact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originatingLead.Parent_1_Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Child_1_in_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Decision to decide how many contacts to create</description>
        <name>Can_Create_Child_1</name>
        <label>Can Create Child 1?</label>
        <locationX>226</locationX>
        <locationY>3590</locationY>
        <defaultConnector>
            <targetReference>Can_Create_Child_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contact to create</defaultConnectorLabel>
        <rules>
            <name>Child_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>originatingLead.Child_1_Last_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initialize_Child_1_Contact</targetReference>
            </connector>
            <label>Child 1</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision to decide how many contacts to create</description>
        <name>Can_Create_Child_2</name>
        <label>Can Create Child 2?</label>
        <locationX>226</locationX>
        <locationY>4298</locationY>
        <defaultConnector>
            <targetReference>Can_Create_Child_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contact to create</defaultConnectorLabel>
        <rules>
            <name>Child_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>originatingLead.Child_2_Last_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initialize_Child_2_Contact</targetReference>
            </connector>
            <label>Child 2</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision to decide how many contacts to create</description>
        <name>Can_Create_Child_3</name>
        <label>Can Create Child 3?</label>
        <locationX>226</locationX>
        <locationY>5006</locationY>
        <defaultConnector>
            <targetReference>Can_Create_Child_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contact to create</defaultConnectorLabel>
        <rules>
            <name>Child_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>originatingLead.Child_3_Last_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initialize_Child_3_Contact</targetReference>
            </connector>
            <label>Child 3</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision to decide how many contacts to create</description>
        <name>Can_Create_Child_4</name>
        <label>Can Create Child 4?</label>
        <locationX>226</locationX>
        <locationY>5714</locationY>
        <defaultConnector>
            <targetReference>Update_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contact to create</defaultConnectorLabel>
        <rules>
            <name>Child_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>originatingLead.Child_4_Last_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initialize_Child_4</targetReference>
            </connector>
            <label>Child 4</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision to decide how many contacts to create</description>
        <name>Can_Create_Parent_1</name>
        <label>Can Create Parent 1?</label>
        <locationX>226</locationX>
        <locationY>2582</locationY>
        <defaultConnector>
            <targetReference>Can_Create_Parent_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contact to create</defaultConnectorLabel>
        <rules>
            <name>Parent_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>originatingLead.Parent_1_Last_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Initialize_Parent_1_to_Update</targetReference>
            </connector>
            <label>Parent 1</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision to decide how many contacts to create</description>
        <name>Can_Create_Parent_2</name>
        <label>Can Create Parent 2?</label>
        <locationX>226</locationX>
        <locationY>2882</locationY>
        <defaultConnector>
            <targetReference>Can_Create_Child_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contact to create</defaultConnectorLabel>
        <rules>
            <name>Parent_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>originatingLead.Parent_2_Last_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initialize_Parent_2_Contact</targetReference>
            </connector>
            <label>Parent 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Does_Child_1_has_Last_Name</name>
        <label>Does Child 2 has Last Name</label>
        <locationX>50</locationX>
        <locationY>4514</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Parent_Last_Name_to_Child_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>child2Contact.LastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Child_2_in_List</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Child_1_has_Last_Name</name>
        <label>Does Child 1 has Last Name</label>
        <locationX>50</locationX>
        <locationY>3806</locationY>
        <defaultConnector>
            <targetReference>Parent_Last_Name_to_Child_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_child1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>child1Contact.LastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Child_1_in_List</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Child_3_has_Last_Name</name>
        <label>Does Child 3 has Last Name</label>
        <locationX>50</locationX>
        <locationY>5222</locationY>
        <defaultConnector>
            <targetReference>Parent_1_Last_Name_to_Child_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Child3_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Child3Contact.LastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Child_3_in_List</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Child_4_has_Last_Name</name>
        <label>Does Child 4 has Last Name</label>
        <locationX>50</locationX>
        <locationY>5930</locationY>
        <defaultConnector>
            <targetReference>Parent_1_Last_Name_to_Child_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Child4_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>child4Contact.LastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Child_4_in_List</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Parent_2_has_Last_Name</name>
        <label>Does Parent 2 has Last Name ?</label>
        <locationX>50</locationX>
        <locationY>3098</locationY>
        <defaultConnector>
            <targetReference>Parent_1_last_name_to_Parent_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>originatingLead.Parent_2_Last_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Parent_2_In_List</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Extract_Account_Family_Record_Type</name>
        <label>Extract Account Family Record Type</label>
        <locationX>737</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Get_General_Contact_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Account_Family_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Record_Type.SobjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Record_Type.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Family</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Record_Type_Id</targetReference>
            </connector>
            <label>Account Family - Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Extract_Family_Type_Id</name>
        <label>Extract Family Type Id</label>
        <locationX>737</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Extract_Account_Family_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_FamilyType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Record_Type.SobjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Record_Type.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Family Member</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RecordType_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Extract_Source_Lead_Record_Type_Info</name>
        <label>Extract Source Lead Record Type Info</label>
        <locationX>737</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Extract_Family_Type_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Source_Lead_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>originatingLead.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Through_Record_Type.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Source_Lead_Record_Type</targetReference>
            </connector>
            <label>Source Lead Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_General_Contact_Record_Type</name>
        <label>Get General Contact Record Type</label>
        <locationX>737</locationX>
        <locationY>1682</locationY>
        <defaultConnector>
            <targetReference>Get_Volunteer_Contact_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>General Contact - No</defaultConnectorLabel>
        <rules>
            <name>General_Contact_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Record_Type.SobjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Record_Type.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_General_Contact</targetReference>
            </connector>
            <label>General Contact - Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Volunteer_Contact_Type</name>
        <label>Get Volunteer Contact Type</label>
        <locationX>737</locationX>
        <locationY>1982</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Volunteer Contact - No</defaultConnectorLabel>
        <rules>
            <name>Volunteer_Contact_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Record_Type.SobjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Record_Type.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Volunteer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_VOlunteer_Contact_R_Type</targetReference>
            </connector>
            <label>Volunteer Contact - Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Identify_Lead_Record_Type</name>
        <label>Identify Lead Record Type</label>
        <locationX>517</locationX>
        <locationY>2474</locationY>
        <defaultConnector>
            <targetReference>Identify_Lead_Record_Type_Volunteer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Family Application - No</defaultConnectorLabel>
        <rules>
            <name>Family_Application_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SourceLeadRecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Family Application</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SourceLeadRecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Family Referral</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Can_Create_Parent_1</targetReference>
            </connector>
            <label>Family Application - Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Identify_Lead_Record_Type_Social_Media_Leads</name>
        <label>Identify Lead Record Type - Social Media Leads</label>
        <locationX>1238</locationX>
        <locationY>2798</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Social Media Leads - No</defaultConnectorLabel>
        <rules>
            <name>Social_Media_Leads_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SourceLeadRecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Social Media Leads</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Initialize_Current_Contact</targetReference>
            </connector>
            <label>Social Media Leads - Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Identify_Lead_Record_Type_Volunteer</name>
        <label>Identify Lead Record Type - Volunteer</label>
        <locationX>809</locationX>
        <locationY>2582</locationY>
        <defaultConnector>
            <targetReference>Identify_Lead_Record_Type_Website_Leads</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Volunteer - No</defaultConnectorLabel>
        <rules>
            <name>Volunteer_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SourceLeadRecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Volunteer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initialize_Current_Contact</targetReference>
            </connector>
            <label>Volunteer - Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Identify_Lead_Record_Type_Website_Leads</name>
        <label>Identify Lead Record Type - Website Leads</label>
        <locationX>1040</locationX>
        <locationY>2690</locationY>
        <defaultConnector>
            <targetReference>Identify_Lead_Record_Type_Social_Media_Leads</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Website Leads - No</defaultConnectorLabel>
        <rules>
            <name>Website_Leads_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SourceLeadRecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Website Leads</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Initialize_Current_Contact</targetReference>
            </connector>
            <label>Website Leads - Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if current contact record is created through lead or not</description>
        <name>Is_Contact_Created_From_Lead</name>
        <label>Is Contact Created From Lead</label>
        <locationX>1031</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Lead NOT Found</defaultConnectorLabel>
        <rules>
            <name>Contact_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_contact_Record</targetReference>
            </connector>
            <label>Contact Found</label>
        </rules>
    </decisions>
    <description>Added CLT checkbox to Parent Account. Correct family type for Patients. removed mapping for preferred event locations.</description>
    <environments>Default</environments>
    <formulas>
        <description>Formula to compute Family type of Account</description>
        <name>acc_familyType</name>
        <dataType>String</dataType>
        <expression>CASE({!originatingLead.Reason_for_Joining__c},
    &quot;Child with cancer&quot;, &quot;Patient&quot;,
    &quot;Child passed away due to cancer&quot;, &quot;Bereaved Family&quot;,
    &quot;Parent passed away due to cancer&quot;, &quot;Offspring Bereaved Family&quot;,
    &quot;Parent with cancer&quot;, &quot;Offspring Family&quot;,
    &quot;Parent or primary carer with cancer&quot;, &quot;Offspring Family&quot;,
    &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>child1Contact_ExternalId</name>
        <dataType>String</dataType>
        <expression>{!originatingLead.Child_1_First_Name__c}+{!originatingLead.Child_1_Last_Name__c}+TEXT({!originatingLead.Child_1_Birth_Date__c})</expression>
    </formulas>
    <formulas>
        <name>child2Contact_ExternalId</name>
        <dataType>String</dataType>
        <expression>{!originatingLead.Child_2_First_Name__c}+{!originatingLead.Child_2_Last_Name__c}+TEXT({!originatingLead.Child_2_Birth_Date__c})</expression>
    </formulas>
    <formulas>
        <name>child3Contact_ExternalId</name>
        <dataType>String</dataType>
        <expression>{!originatingLead.Child_3_First_Name__c}+{!originatingLead.Child_3_Last_Name__c}+TEXT({!originatingLead.Child_3_Birth_Date__c})</expression>
    </formulas>
    <formulas>
        <description>External id for contact 4</description>
        <name>child4Contact_ExternalId</name>
        <dataType>String</dataType>
        <expression>{!originatingLead.Child_4_First_Name__c}+{!originatingLead.Child_4_Last_Name__c}+TEXT({!originatingLead.Child_4_Birth_Date__c})</expression>
    </formulas>
    <formulas>
        <name>isATSIC</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISPICKVAL({!originatingLead.ATSIC__c} ,&quot;Yes&quot;), True, False)</expression>
    </formulas>
    <formulas>
        <description>Does child 1 has cancer?</description>
        <name>IsChild1Patient</name>
        <dataType>String</dataType>
        <expression>if( {!originatingLead.Child_1_Has_Cancer__c},&quot;Yes&quot;,&quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>IsChild2Patient</name>
        <dataType>String</dataType>
        <expression>if( {!originatingLead.Child_2_Has_Cancer__c},&quot;Yes&quot;,&quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>IsChild3Patient</name>
        <dataType>String</dataType>
        <expression>if( {!originatingLead.Child_3_Has_Cancer__c},&quot;Yes&quot;,&quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>IsChild4Patient</name>
        <dataType>String</dataType>
        <expression>if( {!originatingLead.Child_4_Has_Cancer__c},&quot;Yes&quot;,&quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>isMediaAll</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISPICKVAL({!originatingLead.Media_Permission_All_2019__c} ,&quot;Yes&quot;), True, False)</expression>
    </formulas>
    <formulas>
        <name>isMediaCorporate</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISPICKVAL({!originatingLead.Media_Permission_Corporate_2019__c} ,&quot;Yes&quot;), True, False)</expression>
    </formulas>
    <formulas>
        <name>IsMediaPermission_Photo</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISPICKVAL({!originatingLead.Media_Permission_Photos__c} ,&quot;Yes&quot;), True, False)</expression>
    </formulas>
    <formulas>
        <name>isMediaPublic2019</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISPICKVAL({!originatingLead.Media_permission_Public_2019__c} ,&quot;Yes&quot;), True, False)</expression>
    </formulas>
    <formulas>
        <name>isMediaShare</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISPICKVAL({!originatingLead.Media_Permission_Photo_Share__c} ,&quot;Yes&quot;), True, False)</expression>
    </formulas>
    <formulas>
        <description>Data Type between lead and contact is different</description>
        <name>IsParent1Patient</name>
        <dataType>String</dataType>
        <expression>if({!originatingLead.Parent_1_Has_Cancer__c} ,&quot;Yes&quot;,&quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <description>Is Parent 2 Deceased?</description>
        <name>IsParent2Deceased</name>
        <dataType>String</dataType>
        <expression>if({!originatingLead.Parent_2_Deceased__c} , &quot;Yes&quot;, &quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>IsParent2DeceasedBOOLEAN</name>
        <dataType>Boolean</dataType>
        <expression>if({!originatingLead.Parent_2_Deceased__c} , True, False)</expression>
    </formulas>
    <formulas>
        <description>Does parent 2 has cancer</description>
        <name>IsParent2Patient</name>
        <dataType>String</dataType>
        <expression>if({!originatingLead.Parent_2_Has_Cancer__c} ,&quot;Yes&quot;,&quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <description>External id of parent 1</description>
        <name>parent1contact_externalId</name>
        <dataType>String</dataType>
        <expression>{!originatingLead.Parent_1_First_Name__c}+{!originatingLead.Parent_1_Last_Name__c}+{!originatingLead.Parent_1_Email__c}</expression>
    </formulas>
    <formulas>
        <description>External Id for Parent 2</description>
        <name>parent2contact_externalId</name>
        <dataType>String</dataType>
        <expression>{!originatingLead.Parent_2_First_Name__c}+{!originatingLead.Parent_2_Last_Name__c}+{!originatingLead.Parent_2_Email__c}</expression>
    </formulas>
    <formulas>
        <name>Parent2DeceasedDate</name>
        <dataType>Date</dataType>
        <expression>{!originatingLead.Parent_2_Deceased_Date__c}</expression>
    </formulas>
    <interviewLabel>Lead convert process new {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Lead convert process new v31</label>
    <loops>
        <description>Loop Through Record Types to extract needed Id</description>
        <name>Loop_Through_Record_Type</name>
        <label>Loop Through Record Type</label>
        <locationX>517</locationX>
        <locationY>674</locationY>
        <collectionReference>Record_Types</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Extract_Source_Lead_Record_Type_Info</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Account_Field_Mapping</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create Related Contacts</description>
        <name>Create_Related_Contacts</name>
        <label>Create Related Contacts</label>
        <locationX>226</locationX>
        <locationY>6638</locationY>
        <inputReference>lstContact</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_contact_Record</name>
        <label>Get contact Record</label>
        <locationX>517</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_converted_lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_converted_lead</name>
        <label>Get converted lead</label>
        <locationX>517</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assgin_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Fetch Record types of Lead, Account and Contact</description>
        <name>Record_Types</name>
        <label>Record Types</label>
        <locationX>517</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Record_Type</targetReference>
        </connector>
        <filterLogic>( 1 OR 2 OR 3 ) AND 4</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <queriedFields>SobjectType</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Account</name>
        <label>Update Account</label>
        <locationX>809</locationX>
        <locationY>3266</locationY>
        <connector>
            <targetReference>Update_Current_Contact_Record</targetReference>
        </connector>
        <inputReference>parentAccount</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>226</locationX>
        <locationY>6422</locationY>
        <connector>
            <targetReference>Update_Parent_1_Record</targetReference>
        </connector>
        <inputReference>parentAccount</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Current_Contact_Record</name>
        <label>Update Current Contact Record</label>
        <locationX>809</locationX>
        <locationY>3374</locationY>
        <inputReference>ContactRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Parent 1 Contact Record</description>
        <name>Update_Parent_1_Record</name>
        <label>Update Parent 1 Record</label>
        <locationX>226</locationX>
        <locationY>6530</locationY>
        <connector>
            <targetReference>Create_Related_Contacts</targetReference>
        </connector>
        <inputReference>ContactRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>905</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Contact_Created_From_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account_family_RType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Contact record for Child 1</description>
        <name>child1Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Contact Record for child 2</description>
        <name>child2Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Variable to store contact record related to Child 3</description>
        <name>Child3Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Variable to hold contact for child 4</description>
        <name>child4Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Recordtype Id of Family Member for Contact</description>
        <name>contact_familyMember_RType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contact_general_RType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>contact_volunteer_RType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>leadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>List Of Contact To be Inserted</description>
        <name>lstContact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Originating Lead that converted to Account and Contact</description>
        <name>originatingLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <description>Contact record for parent 2</description>
        <name>parent2Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Parent Account related to all records</description>
        <name>parentAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Record type info about Source Lead</description>
        <name>SourceLeadRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
</Flow>
