force-app/main/default/flows/MoveData_Extension_Donation_Donation_Mapping.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Log_Skipping_Offline_Donation_0</name>
        <label>Log: Skipping Offline Donation</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <actionName>movedata__WriteToLogFlowComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Cancel_Processing_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Detail</name>
            <value>
                <stringValue>Status = &quot;offline&quot;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LogList</name>
            <value>
                <elementReference>Logs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Message</name>
            <value>
                <stringValue>Skipping Offline Donation</stringValue>
            </value>
        </inputParameters>
        <nameSegment>movedata__WriteToLogFlowComponent</nameSegment>
        <outputParameters>
            <assignToReference>LogsJSON</assignToReference>
            <name>LogJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Logs</assignToReference>
            <name>LogList</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Cancel_Processing_0</name>
        <label>Cancel Processing</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Cancel</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Anonymous</name>
        <label>Set Anonymous</label>
        <locationX>204</locationX>
        <locationY>1070</locationY>
        <assignmentItems>
            <assignToReference>Record.Is_Anonymous__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Determine_Anonymous</name>
        <label>Determine Anonymous</label>
        <locationX>336</locationX>
        <locationY>950</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Anonymous</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Anonymous</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Anonymous</targetReference>
            </connector>
            <label>Yes Anonymous</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Offline</name>
        <label>Determine Offline</label>
        <locationX>336</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Determine_Anonymous</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Exists_Offline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>offline</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Determine_Processor</targetReference>
            </connector>
            <label>Yes Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Processor</name>
        <label>Determine Processor</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Determine_Anonymous</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default]</defaultConnectorLabel>
        <rules>
            <name>Processor_Other</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Processor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProcessorTransactionId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Skipping_Offline_Donation_0</targetReference>
            </connector>
            <label>Processor = Other / Blank</label>
        </rules>
    </decisions>
    <description>Updated offline donation logic to cancel processing where processor = other OR processortransactionid is null</description>
    <interviewLabel>[MoveData Extension] Donation: Donation - Mapping {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[MoveData Extension] Donation: Donation - Mapping</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Determine_Offline</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Anonymous</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Cancel</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Logs</name>
        <apexClass>movedata__MoveDataLogEntry</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LogsJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Processor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProcessorTransactionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
