force-app/main/default/flows/MoveData_Donation_Donation_Post_Upsert_Ext.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Set_Amount</name>
        <label>Set Amount</label>
        <locationX>424</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Payment_Record.npe01__Payment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_FeeGateway</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_FeeGateway</name>
        <label>Set FeeGateway</label>
        <locationX>424</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>Payment_Record.npsp_plus__Payment_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SumFeePlatformFeeGateway</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_FeePlatform</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_FeePlatform</name>
        <label>Set FeePlatform</label>
        <locationX>424</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>Payment_Record.npsp__Donor_Cover_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FeePlatform</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_ProcessorTransactionId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Gateway_Payout_Date</name>
        <label>Set Gateway Payout Date</label>
        <locationX>490</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>Payment_Record.Gateway_Payout_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Custom_PaymentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Payment_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Gateway_Payout_Date_0</name>
        <label>Set Gateway Payout Date</label>
        <locationX>50</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>Payment_Record.Gateway_Payout_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Custom_SettlementDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Payment_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PaymentMethod_to_Credit_Card</name>
        <label>Set PaymentMethod to Credit Card</label>
        <locationX>556</locationX>
        <locationY>2078</locationY>
        <assignmentItems>
            <assignToReference>Payment_Record.npe01__Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Credit Card</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Platform</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ProcessorTransactionId</name>
        <label>Set ProcessorTransactionId</label>
        <locationX>424</locationX>
        <locationY>1526</locationY>
        <assignmentItems>
            <assignToReference>Payment_Record.npsp_plus__Gateway_Transaction_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProcessorTransactionId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_ReceiptNumber</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ReceiptNumber</name>
        <label>Set ReceiptNumber</label>
        <locationX>424</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>Payment_Record.External_Donation_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReceiptNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_PaymentMethod_to_Credit_Card</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determine_Amount</name>
        <label>Determine Amount</label>
        <locationX>556</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Determine_FeeGateway</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Amount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Amount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Amount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_FeeGateway</name>
        <label>Determine FeeGateway</label>
        <locationX>556</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Determine_FeePlatform</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_FeeGateway</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FeeGateway</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_FeeGateway</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_FeePlatform</name>
        <label>Determine FeePlatform</label>
        <locationX>556</locationX>
        <locationY>1070</locationY>
        <defaultConnector>
            <targetReference>Determine_ProcessorTransactionId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_FeePlatform</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FeePlatform</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_FeePlatform</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Payment_Date</name>
        <label>Determine Payment Date</label>
        <locationX>622</locationX>
        <locationY>2318</locationY>
        <defaultConnector>
            <targetReference>Update_Payment_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default]</defaultConnectorLabel>
        <rules>
            <name>Yes_Exists_Payment_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Custom_PaymentDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Gateway_Payout_Date</targetReference>
            </connector>
            <label>Yes Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Platform</name>
        <label>Determine Platform</label>
        <locationX>556</locationX>
        <locationY>2198</locationY>
        <defaultConnector>
            <targetReference>Update_Payment_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default]</defaultConnectorLabel>
        <rules>
            <name>PayPal_Giving_Fund</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Platform</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ppgf</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Determine_Settlement_Date</targetReference>
            </connector>
            <label>PayPal Giving Fund</label>
        </rules>
        <rules>
            <name>Good2Give</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Platform</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>g2g</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Determine_Payment_Date</targetReference>
            </connector>
            <label>Good2Give</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_ProcessorTransactionId</name>
        <label>Determine ProcessorTransactionId</label>
        <locationX>556</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Determine_ReceiptNumber</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_ProcessorTransactionId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProcessorTransactionId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ProcessorTransactionId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_ReceiptNumber</name>
        <label>Determine ReceiptNumber</label>
        <locationX>556</locationX>
        <locationY>1742</locationY>
        <defaultConnector>
            <targetReference>Set_PaymentMethod_to_Credit_Card</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_ReceiptNumber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReceiptNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ReceiptNumber</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Settlement_Date</name>
        <label>Determine Settlement Date</label>
        <locationX>182</locationX>
        <locationY>2318</locationY>
        <defaultConnector>
            <targetReference>Update_Payment_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default]</defaultConnectorLabel>
        <rules>
            <name>Yes_Exists_Settlement_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Custom_SettlementDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Gateway_Payout_Date_0</targetReference>
            </connector>
            <label>Yes Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Payment_Records</name>
        <label>Has Payment Records</label>
        <locationX>831</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Payment_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Determine_Amount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Added support for G2G and PPGF settlement dates</description>
    <formulas>
        <name>SumFeePlatformFeeGateway</name>
        <dataType>Currency</dataType>
        <expression>{!FeeGateway} + {!FeePlatform}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>[MoveData Extension] Donation: Donation - Post Upsert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[MoveData Extension] Donation: Donation - Post Upsert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Payment_Record</name>
        <label>Payment Record</label>
        <locationX>831</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Payment_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe01__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npe01__OppPayment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Payment_Record</name>
        <label>Update Payment Record</label>
        <locationX>556</locationX>
        <locationY>2750</locationY>
        <inputReference>Payment_Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>705</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Payment_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Custom_PaymentDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Custom_SettlementDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FeeGateway</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>FeePlatform</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Platform</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProcessorTransactionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReceiptNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
