force-app/main/default/flows/New_RG_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Creates a &quot;send welcome pack task&quot; on contacts page</description>
        <name>Create_Welcome_Pack_Task</name>
        <label>Create Welcome Pack Task</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>TaskSubjetc</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>KelvinsID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>Closedate_createddate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Description</name>
            <value>
                <elementReference>TaskDescription</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
            <value>
                <elementReference>Get_Contact_from_RG.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <elementReference>TaskStatus</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>New_RG_email_alert</name>
        <label>New RG email alert</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>npe03__Recurring_Donation__c.New_RGv2</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_Contact_from_RG</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>npe03__Recurring_Donation__c.New_RGv2</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <constants>
        <description>Kelvins USER ID in Sandbox</description>
        <name>KelvinsID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0052x000003bvQ4</stringValue>
        </value>
    </constants>
    <constants>
        <name>TaskDescription</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Double check if donor was already a RG and has just updated card details/created a new recurring donation object. Confirm stripe subscription is active</stringValue>
        </value>
    </constants>
    <constants>
        <name>TaskStatus</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Started</stringValue>
        </value>
    </constants>
    <constants>
        <name>TaskSubjetc</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Send RG Welcome Pack</stringValue>
        </value>
    </constants>
    <description>New recurring donation created sending email notification to RG team.</description>
    <environments>Default</environments>
    <formulas>
        <description>7 days after created date</description>
        <name>Closedate_createddate</name>
        <dataType>Date</dataType>
        <expression>TODAY()+5</expression>
    </formulas>
    <interviewLabel>New RG Created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New RG Created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get contact record connected to Recurring Donations</description>
        <name>Get_Contact_from_RG</name>
        <label>Get Contact from RG</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Welcome_Pack_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npe03__Contact__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_RG_email_alert</targetReference>
        </connector>
        <object>npe03__Recurring_Donation__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
