force-app/main/default/flows/New_Incident_Submission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <collectionProcessors>
        <description>This is a workaround as the get records cannot filter from a multi-picklist.</description>
        <name>Filter_By_Severity</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter By Severity</label>
        <locationX>656</locationX>
        <locationY>1187</locationY>
        <assignNextValueToReference>currentItem_Filter_By_Severity</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Incident_Alerts</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_By_Severity.Incident_Severity_Level__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>$Record.Severity__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Send_Alerts_Configured</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Asset_Name_Provided</name>
        <label>Asset Name Provided?</label>
        <locationX>656</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Update_Incident</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Vehicle_Asset</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Name_Provided</name>
        <label>Program Name Provided?</label>
        <locationX>656</locationX>
        <locationY>371</locationY>
        <defaultConnector>
            <targetReference>Asset_Name_Provided</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Program_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Event_Program_Name_Submission__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>New Incident Submission {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Incident Submission</label>
    <loops>
        <name>Send_Alerts_Configured</name>
        <label>Send Alerts Configured</label>
        <locationX>656</locationX>
        <locationY>1295</locationY>
        <collectionReference>Get_Incident_Alerts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Incident_Notifications</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Incident_Notifications</name>
        <label>Create Incident Notifications</label>
        <locationX>744</locationX>
        <locationY>1403</locationY>
        <connector>
            <targetReference>Send_Alerts_Configured</targetReference>
        </connector>
        <inputAssignments>
            <field>Incident__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobileNumber__c</field>
            <value>
                <elementReference>Send_Alerts_Configured.User__r.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Send_Alerts_Configured.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NotificationUser__c</field>
            <value>
                <elementReference>Send_Alerts_Configured.User__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecipientContact__c</field>
            <value>
                <elementReference>Send_Alerts_Configured.RecipientContact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>IncidentNotification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Campaign</name>
        <label>Get Program Event Campaign</label>
        <locationX>524</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asset_Name_Provided</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Event_Program_Name_Submission__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Incident_Alerts</name>
        <label>Get Incident Alerts</label>
        <locationX>656</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_By_Severity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Incident_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Incident_Alert__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Vehicle_Asset</name>
        <label>Get Vehicle Asset</label>
        <locationX>524</locationX>
        <locationY>779</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Incident</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Fleet_Vehicle_Asset_Submitted__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Incident</name>
        <label>Update Incident</label>
        <locationX>656</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Get_Incident_Alerts</targetReference>
        </connector>
        <inputAssignments>
            <field>Event_Program_Name__c</field>
            <value>
                <elementReference>Get_Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fleet_Vehicle_Asset__c</field>
            <value>
                <elementReference>Get_Vehicle_Asset.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>530</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Program_Name_Provided</targetReference>
        </connector>
        <object>Incident__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_By_Severity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Incident_Alert__c</objectType>
    </variables>
</Flow>
