force-app/main/default/flows/New_Digital_Playdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Playdate_request_acknowledgemenet</name>
        <label>PuppetShow__c.Playdate_request_acknowledgemenet</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PuppetShow__c.Playdate_request_acknowledgemenet</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_new_show_alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PuppetShow__c.Playdate_request_acknowledgemenet</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_new_show_alert</name>
        <label>PuppetShow__c.Send_new_show_alert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PuppetShow__c.Send_new_show_alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PuppetShow__c.Send_new_show_alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <description>Migrated from the: New Digital Playdate workflow rule
Workflow rule description: &quot;</description>
    <label>New Digital Playdate</label>
    <migratedFromWorkflowRuleName>New Digital Playdate</migratedFromWorkflowRuleName>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Playdate_request_acknowledgemenet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Requestor_First_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Child_s_First_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Requestor_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Puppet Digital Playdate</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>System User</stringValue>
            </value>
        </filters>
        <object>PuppetShow__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
