force-app/main/default/flows/New_Puppet_Show_Notification_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Puppet_Programs_of_New_Show</name>
        <label>Notify Puppet Programs of New Show</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Which_state</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>PuppetProgramsEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New Puppet Show Request </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>PuppetShowNotificationEmail</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_notification_email_NSW_ACT</name>
        <label>Send notification email NSW/ACT</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>UserEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New Puppet Show Created for NSW/ACT</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>PuppetShowNotificationEmail</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_notification_email_QLD</name>
        <label>Send notification email QLD</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>UserEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New Puppet Show Created for QLD</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>PuppetShowNotificationEmail</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_notification_email_SA_NT</name>
        <label>Send notification email SA/NT</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>UserEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New Puppet Show Created for SA/NT</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>PuppetShowNotificationEmail</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_notification_email_VIC_TAS</name>
        <label>Send notification email VIC/TAS</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>UserEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New Puppet Show Created for VIC/TAS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>PuppetShowNotificationEmail</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_notification_email_WA</name>
        <label>Send notification email WA</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>UserEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New Puppet Show Created for WA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>PuppetShowNotificationEmail</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <constants>
        <name>PuppetProgramsEmail</name>
        <dataType>String</dataType>
        <value>
            <stringValue>puppetprograms@campquality.org.au</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Which_state</name>
        <label>Which state?</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requestor_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_User_ID_to_Notify_WA</targetReference>
            </connector>
            <label>WA</label>
        </rules>
        <rules>
            <name>SA</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requestor_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Requestor_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_User_ID_to_Notify_SA_NT</targetReference>
            </connector>
            <label>SA/NT</label>
        </rules>
        <rules>
            <name>NSW_ACT</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requestor_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NSW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Requestor_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_User_ID_to_Notify_NSW_ACT</targetReference>
            </connector>
            <label>NSW/ACT</label>
        </rules>
        <rules>
            <name>QLD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requestor_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QLD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_User_ID_to_Notify_QLD</targetReference>
            </connector>
            <label>QLD</label>
        </rules>
        <rules>
            <name>VIC_TAS</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requestor_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VIC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Requestor_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_User_ID_to_Notify</targetReference>
            </connector>
            <label>VIC/TAS</label>
        </rules>
    </decisions>
    <description>Sends puppet show emails to the team based on Requestor State, only when created by Zapier .</description>
    <environments>Default</environments>
    <interviewLabel>New Puppet Show Notification Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Puppet Show Notification Email v2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_User_ID_to_Notify</name>
        <label>Find User ID to Notify</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_notification_email_VIC_TAS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Andrew Doyle</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_User_ID_to_Notify_NSW_ACT</name>
        <label>Find User ID to Notify NSW/ACT</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_notification_email_NSW_ACT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Shanaye Flanagan</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>UserEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_User_ID_to_Notify_QLD</name>
        <label>Find User ID to Notify QLD</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_notification_email_QLD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Alex Greaves</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>UserEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_User_ID_to_Notify_SA_NT</name>
        <label>Find User ID to Notify SA/NT</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_notification_email_SA_NT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>David Arcidiaco</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>UserEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_User_ID_to_Notify_WA</name>
        <label>Find User ID to Notify WA</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_notification_email_WA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cassandra Skinner</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>UserEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Notify_Puppet_Programs_of_New_Show</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0050K000009oEud</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0122x000000I4yUAAS</stringValue>
            </value>
        </filters>
        <object>PuppetShow__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>PuppetShowNotificationEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;New Puppet Show Enquiry has been received!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: arial;&quot;&gt;State: &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.Requestor_State__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click here to view the puppet show in Salesforce:&amp;nbsp;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: arial; color: rgb(0, 0, 0);&quot;&gt;https://campquality--partial.sandbox.my.salesforce.com/{!$Record.Id}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;This is an automated email. If you have any issues with these emails, please contact the D&amp;amp;T team.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>UserEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Find_User_ID_to_Notify.Email</elementReference>
        </value>
    </variables>
</Flow>
