force-app/main/default/flows/New_User_Created_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <description>Runs when a new active standard user record is created</description>
    <interviewLabel>New User Created Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New User Created Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_badge_NPSP_basics</name>
        <label>Add badge - NPSP basics</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>Add_badge_productivity_in_NPSP</targetReference>
        </connector>
        <inputAssignments>
            <field>trailheadapp__Assigned_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>trailheadapp__External_ID__c</field>
            <value>
                <stringValue>a5m2x000000dOzVAAU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>trailheadapp__Status__c</field>
            <value>
                <elementReference>StatusIsAssigned</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>trailheadapp__User__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>trailheadapp__User_Badge__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_badge_productivity_in_NPSP</name>
        <label>Add badge - productivity in NPSP</label>
        <locationX>176</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>trailheadapp__Assigned_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>trailheadapp__Badge__c</field>
            <value>
                <stringValue>a5m2x000000dOudAAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>trailheadapp__Status__c</field>
            <value>
                <elementReference>StatusIsAssigned</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>trailheadapp__User__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>trailheadapp__User_Badge__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Badge_Salesforce_Basics</name>
        <label>Add Badge - Salesforce Basics</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Add_badge_NPSP_basics</targetReference>
        </connector>
        <inputAssignments>
            <field>trailheadapp__Assigned_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>trailheadapp__Badge__c</field>
            <value>
                <stringValue>a5m2x000000dOrkAAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>trailheadapp__Status__c</field>
            <value>
                <elementReference>StatusIsAssigned</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>trailheadapp__User__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>trailheadapp__User_Badge__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_badge_Trailhead_Basis</name>
        <label>Add badge - Trailhead Basis</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <connector>
            <targetReference>Add_Badge_Salesforce_Basics</targetReference>
        </connector>
        <inputAssignments>
            <field>trailheadapp__Assigned_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>trailheadapp__Badge__c</field>
            <value>
                <stringValue>a5m2x000000dOy1AAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>trailheadapp__Status__c</field>
            <value>
                <elementReference>StatusIsAssigned</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>trailheadapp__User__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>trailheadapp__User_Badge__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_badge_Trailhead_Basis</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>Contains</operator>
            <value>
                <stringValue>campquality.org.au</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>StatusIsAssigned</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Assigned</stringValue>
        </value>
    </variables>
</Flow>
