force-app/main/default/flows/Patient_Deceased_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Is_Deceased</name>
        <label>Is Deceased?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Account_Deceased</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npsp__Deceased__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Deceased_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Deceased__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Offspring</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Update Account Deceased</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Patient Deceased {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF-CON01-PatientDeceased</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account_Deceased_Statuses</name>
        <label>Update Account Deceased Statuses</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Family_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Patient</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Cancer_Journey__c</field>
            <value>
                <stringValue> Deceased</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deceased__c</field>
            <value>
                <elementReference>$Record.Deceased_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family_Type__c</field>
            <value>
                <stringValue>Bereaved Family</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Offspring</name>
        <label>Update Offspring</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_Account_Deceased_Statuses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Family_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Offspring Family</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Cancer_Journey__c</field>
            <value>
                <stringValue>Deceased</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deceased__c</field>
            <value>
                <elementReference>$Record.Deceased_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family_Type__c</field>
            <value>
                <stringValue>Offspring Bereaved Family</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Deceased</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
