force-app/main/default/flows/Philanthropy_Alerts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Major_Gifts_Alert</name>
        <label>Major Gifts Alert</label>
        <locationX>893</locationX>
        <locationY>578</locationY>
        <actionName>Opportunity.Philanthropy_Major_Gifts_Notifications</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Philanthropy_Major_Gifts_Notifications</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Account_owned_by_Philanthropy</name>
        <label>Account owned by Philanthropy</label>
        <locationX>1690</locationX>
        <locationY>684</locationY>
        <defaultConnectorLabel>Not Owned</defaultConnectorLabel>
        <rules>
            <name>Owned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Owner.UserRole.DeveloperName</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Funraisin__Primary_Contact__r.Account.Owner.UserRole.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Philanthropy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Major_Gifts_Alert</targetReference>
            </connector>
            <label>Owned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Over_1000</name>
        <label>Over 1000</label>
        <locationX>1451</locationX>
        <locationY>301</locationY>
        <defaultConnector>
            <targetReference>Philanthropy_Owned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Major_Gifts_Alert</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Philanthropy_Owned</name>
        <label>Philanthropy Owned</label>
        <locationX>1637</locationX>
        <locationY>454</locationY>
        <defaultConnector>
            <targetReference>Account_owned_by_Philanthropy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npsp__Primary_Contact__r.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npsp__Primary_Contact__r.Owner.UserRole.DeveloperName</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Funraisin__Primary_Contact__r.Owner.UserRole.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Philanthropy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Major_Gifts_Alert</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Philanthropy Alerts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Philanthropy Alerts v11</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>757</locationX>
        <locationY>49</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Time_delay</name>
            <connector>
                <targetReference>Over_1000</targetReference>
            </connector>
            <label>Time delay</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
