force-app/main/default/flows/Raffle_Create_Objects.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_Creation_Or_Updating</name>
        <label>Check Creation Or Updating</label>
        <locationX>468</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>On_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getEventRaffle</targetReference>
            </connector>
            <label>On Creation</label>
        </rules>
        <rules>
            <name>On_Updating</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Donation_Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRaffleContact1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>On Updating</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckContact</name>
        <label>CheckContact</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>CreateRaffleOpportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RaffleContact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createContact</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRaffleEvent</name>
        <label>CheckRaffleEvent</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>GetRaffleContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EventCampaignRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateRaffleEvent</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AccountName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Member_LastName__c}+&apos; Household&apos;</expression>
    </formulas>
    <formulas>
        <name>DonationFunraisinId</name>
        <dataType>String</dataType>
        <expression>&apos;funraisin:raffle:donation:&apos;+{!$Record.RaffleID__c}</expression>
    </formulas>
    <formulas>
        <name>DonationOppFunraisinId</name>
        <dataType>String</dataType>
        <expression>&apos;funraisin:&apos;+{!$Record.Donation_Id__c}</expression>
    </formulas>
    <formulas>
        <name>EventFunraisin</name>
        <dataType>String</dataType>
        <expression>&apos;funraisin:raffle:&apos;+{!$Record.RaffleID__c}</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>OppName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Member_FirstName__c} +&apos; &apos;+{!$Record.Member_LastName__c}+&apos; &apos;+TEXT({!$Record.Donation_date_paid__c})+&apos; &apos; +{!GetDonationCampaign.Name}</expression>
    </formulas>
    <formulas>
        <name>opportunityFunraisin</name>
        <dataType>String</dataType>
        <expression>&apos;raffle:&apos;+{!$Record.Sale_id__c}</expression>
    </formulas>
    <formulas>
        <name>RaffleOpportunityName</name>
        <dataType>String</dataType>
        <expression>&apos;Raffle Ticket -&apos;+{!$Record.Member_FirstName__c}+&apos; &apos;+{!$Record.Member_LastName__c}+&apos;-&apos;+{!$Record.RaffleName__c}</expression>
    </formulas>
    <formulas>
        <name>TotalAmount</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Raffle_Sub_total__c}+{!$Record.Raffle_Sub_total__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Raffle-Create_Objects {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Raffle-Create_Objects</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createContact</name>
        <label>createContact</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>GetNewRaffleContact</targetReference>
        </connector>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>$Record.Member_Birthday__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Member_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.Member_FirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Member_LastName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>$Record.Address_city__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountry</field>
            <value>
                <elementReference>$Record.Address_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>$Record.Address_PostalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>$Record.Address_street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.Member_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01228000000iP9pAAE</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateDonationRaffleOpportunity</name>
        <label>CreateDonationRaffleOpportunity</label>
        <locationX>490</locationX>
        <locationY>647</locationY>
        <assignRecordIdToReference>DonationOpportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>UpdateDonationPayment</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>RaffleContact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>TotalAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>GetDonationCampaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Record.Donation_date_paid__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>RaffleContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Donation_Comment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fee__c</field>
            <value>
                <elementReference>$Record.Donation_fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funraisin_Id__c</field>
            <value>
                <elementReference>DonationOppFunraisinId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Platform_Fee__c</field>
            <value>
                <elementReference>$Record.Donation_fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Platform__c</field>
            <value>
                <stringValue>Donation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Receipt_Number__c</field>
            <value>
                <elementReference>$Record.Donation_Po_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0122x000000hc32AAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Campaign__c</field>
            <value>
                <elementReference>$Record.Donation_UTM_Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Source__c</field>
            <value>
                <elementReference>$Record.Donation_UTM_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM__c</field>
            <value>
                <elementReference>$Record.Donation_UTM_Medium__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>CreateRaffleEvent</name>
        <label>CreateRaffleEvent</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignRecordIdToReference>CreateEvent</assignRecordIdToReference>
        <connector>
            <targetReference>GetNewEventCampaign</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_No__c</field>
            <value>
                <stringValue>4125</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch_Code__c</field>
            <value>
                <stringValue>=&quot;01&quot;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_Centre__c</field>
            <value>
                <stringValue>1020</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funraisin_Id__c</field>
            <value>
                <elementReference>EventFunraisin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.RaffleName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Platform__c</field>
            <value>
                <stringValue>Raffle</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120K0000019bzXQAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Record.Paid_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordCreates>
    <recordCreates>
        <name>CreateRaffleOpportunity</name>
        <label>CreateRaffleOpportunity</label>
        <locationX>182</locationX>
        <locationY>1463</locationY>
        <assignRecordIdToReference>OppId</assignRecordIdToReference>
        <connector>
            <targetReference>UpdatePayment</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>RaffleContact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>TotalAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>EventCampaignRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Record.Raffle_Date_created__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>RaffleContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Raffle ticket(s) purchase</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fee__c</field>
            <value>
                <elementReference>$Record.Raffle_total_fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funraisin_Id__c</field>
            <value>
                <elementReference>opportunityFunraisin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>RaffleOpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_purchased__c</field>
            <value>
                <elementReference>$Record.Raffle_total_purchased__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Platform_Fee__c</field>
            <value>
                <elementReference>$Record.Raffle_total_fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Platform__c</field>
            <value>
                <stringValue>Raffle</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Receipt_Number__c</field>
            <value>
                <elementReference>$Record.Raffle_PO_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120K0000019bzzQAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Campaign__c</field>
            <value>
                <elementReference>$Record.Raffle_UTM_Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Source__c</field>
            <value>
                <elementReference>$Record.Raffle_UTM_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM__c</field>
            <value>
                <elementReference>$Record.Raffle_UTM__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>GetDonationCampaign</name>
        <label>GetDonationCampaign</label>
        <locationX>490</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateDonationRaffleOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funraisin_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DonationFunraisinId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEventRaffle</name>
        <label>getEventRaffle</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckRaffleEvent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funraisin_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EventFunraisin</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputReference>EventCampaignRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetNewEventCampaign</name>
        <label>GetNewEventCampaign</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRaffleContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funraisin_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EventFunraisin</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputReference>EventCampaignRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetNewRaffleContact</name>
        <label>GetNewRaffleContact</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateRaffleOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Member_Email__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>RaffleContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetRaffleContact</name>
        <label>GetRaffleContact</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Member_Email__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>RaffleContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetRaffleContact1</name>
        <label>GetRaffleContact</label>
        <locationX>490</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetDonationCampaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Member_Email__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>RaffleContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateDonationPayment</name>
        <label>UpdateDonationPayment</label>
        <locationX>490</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe01__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DonationOpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npsp_plus__Gateway_Transaction_ID__c</field>
            <value>
                <elementReference>$Record.Raffle_Tax_Ref_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>npe01__OppPayment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePayment</name>
        <label>UpdatePayment</label>
        <locationX>182</locationX>
        <locationY>1571</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe01__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npsp_plus__Gateway_Transaction_ID__c</field>
            <value>
                <elementReference>$Record.Raffle_Tax_Ref_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>npe01__OppPayment__c</object>
    </recordUpdates>
    <start>
        <locationX>342</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Creation_Or_Updating</targetReference>
        </connector>
        <object>Raffle_Json_Log__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>CreateContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateEvent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DonationOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EventCampaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>EventCampaignRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>OppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RaffleContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
