force-app/main/default/flows/Recurring_Donation_Prev_RG_data_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <constants>
        <name>PastRDAmount</name>
        <dataType>Currency</dataType>
    </constants>
    <decisions>
        <name>Was_there_a_previous_RD</name>
        <label>Was there a previous RD</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Previous_RD_Record.npe03__Amount__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_New_RD</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>V10
Changed Campaign Name Criteria
Added Filter Conditions to suppress current ID info
Changed campaign field
Descending Update</description>
    <environments>Default</environments>
    <interviewLabel>Recurring Donation Prev RG data Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Recurring Donation Prev RG data Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Previous_RD_Record</name>
        <label>Find Previous RD Record</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_there_a_previous_RD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npe03__Recurring_Donation__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_New_RD</name>
        <label>Update New RD</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Find_Previous_RD_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Previous_RG_Amount__c</field>
            <value>
                <elementReference>Find_Previous_RD_Record.npe03__Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_RG_Campaign__c</field>
            <value>
                <elementReference>Find_Previous_RD_Record.npe03__Recurring_Donation_Campaign__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reactivated_Regular_Giver__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_Previous_RD_Record</targetReference>
        </connector>
        <object>npe03__Recurring_Donation__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>PastRDAmount</elementReference>
        </value>
    </variables>
    <variables>
        <name>RDAM</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>Amount</elementReference>
        </value>
    </variables>
</Flow>
