force-app/main/default/flows/Refund_Applied_Update_Opportunity_values.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Calculate_New_Total</name>
        <label>Calculate New Total?</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Refunded_Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_New_Net_Amount_GST_Amount</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NewAmountAfterRefund</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Amount}+{!$Record.Refunded_Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Refund Applied: Update Opportunity values {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Refund Applied: Update Opportunity values v2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Refunded_Payment</name>
        <label>Find Refunded Payment</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Refunded_Amount_on_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe01__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe01__Payment_Amount__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npe01__OppPayment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_New_Net_Amount_GST_Amount</name>
        <label>Update New Net Amount &amp; GST Amount</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>NewAmountAfterRefund</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Refunded_Amount_on_Opp</name>
        <label>Update Refunded Amount on Opp</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Calculate_New_Total</targetReference>
        </connector>
        <inputAssignments>
            <field>Original_GST_Amount__c</field>
            <value>
                <elementReference>$Record.GST_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Net_Amount__c</field>
            <value>
                <elementReference>$Record.Net_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Refunded_Amount__c</field>
            <value>
                <elementReference>Find_Refunded_Payment.npe01__Payment_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_Refunded_Payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>npe01__Number_of_Payments__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
