force-app/main/default/flows/Respite_Booking_Confirmation_to_Family.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Respite_Booking_Confirmation</name>
        <label>Retreat_Booking__c.Respite_Booking_Confirmation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Retreat_Booking__c.Respite_Booking_Confirmation</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Retreat_Booking__c.Respite_Booking_Confirmation</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <description>Migrated from the: Respite Booking Confirmation to Family workflow rule
Workflow rule description: Booking confirmation email to family with waiver attached (not Salamander)&quot;</description>
    <label>Respite Booking Confirmation to Family</label>
    <migratedFromWorkflowRuleName>Respite Booking Confirmation to Family</migratedFromWorkflowRuleName>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>mainUpdate</name>
        <label>mainUpdate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Respite_Booking_Confirmation</targetReference>
        </connector>
        <inputAssignments>
            <field>Send_confirmation_email__c</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>mainUpdate</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND 2 AND NOT 3</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Send_confirmation_email__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>Booking_Long_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Salamander</stringValue>
            </value>
        </filters>
        <object>Retreat_Booking__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
