force-app/main/default/flows/RTF_04_CAMP_AddCampaignMemberStatus.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Campaign_Status_Records_to_be_Inserted</name>
        <label>Campaign Status Records to be Inserted</label>
        <locationX>50</locationX>
        <locationY>2639</locationY>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Donor</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>campaignMemberStatusRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fundraiser_Missing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Donor_Yes1</name>
        <label>Donor Yes</label>
        <locationX>270</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>DonorExist</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Donor_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fundraiser_Campaign_Status_Records_to_be_Inserted</name>
        <label>Fundraiser Campaign Status Records to be Inserted</label>
        <locationX>50</locationX>
        <locationY>2939</locationY>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fundraiser</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>campaignMemberStatusRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prospect_Missing1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fundraiser_Yes1</name>
        <label>Fundraiser Yes</label>
        <locationX>270</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>FundraiserExist</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prospect_Campaign_Member_Status_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prospect_Campaign_Member_Status_Record_to_be_inserted</name>
        <label>Prospect Campaign Member Status Record to be inserted</label>
        <locationX>50</locationX>
        <locationY>3239</locationY>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>campaignMemberStatusRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recurring_Donor_Missing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prospect_Fundraiser_Yes</name>
        <label>Prospect Fundraiser Yes</label>
        <locationX>270</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>ProspectExists</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recurring_Donor_Campaign_Member_Status_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recurring_Donation_Fundraiser_Yes</name>
        <label>Recurring Donor Fundraiser Yes</label>
        <locationX>270</locationX>
        <locationY>1955</locationY>
        <assignmentItems>
            <assignToReference>RecurringDonationExist</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Team_Leader_Campaign_Member_Status_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recurring_Donor_Campaign_Member_Status_Record_to_be_inserted</name>
        <label>Recurring Donor Campaign Member Status Record to be inserted</label>
        <locationX>50</locationX>
        <locationY>3539</locationY>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recurring Donor</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>campaignMemberStatusRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Team_Leader_Missing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Team_Leader_Campaign_Member_Status_Record_to_be_inserted</name>
        <label>Team Leader Campaign Member Status Record to be inserted</label>
        <locationX>50</locationX>
        <locationY>3839</locationY>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Team Leader</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusRec.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMemberStatusList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>campaignMemberStatusRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Campaign_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Team_Leader_Fundraiser_Yes</name>
        <label>Team Leader Fundraiser Yes</label>
        <locationX>270</locationX>
        <locationY>2255</locationY>
        <assignmentItems>
            <assignToReference>TeamLeaderExist</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Missing_Campaign_Status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_decision_for_calling_campaign_mapping</name>
        <label>check decision for calling campaign mapping</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>CheckRecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>calling_Campaign_mapping_flow</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRecordType</name>
        <label>CheckRecordType</label>
        <locationX>336</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fundraising</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_Members</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Donor_Exists</name>
        <label>Fundraiser Exists</label>
        <locationX>402</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Prospect_Campaign_Member_Status_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fundraiser No</defaultConnectorLabel>
        <rules>
            <name>Fundraiser_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Missing_Campaign_Status.Label</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fundraiser</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fundraiser_Yes1</targetReference>
            </connector>
            <label>Fundraiser Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Donor_Exists</name>
        <label>Donor Exists</label>
        <locationX>402</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Donor_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Donor No</defaultConnectorLabel>
        <rules>
            <name>Donor_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Missing_Campaign_Status.Label</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Donor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Donor_Yes1</targetReference>
            </connector>
            <label>Donor Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Donor_Missing</name>
        <label>Donor Missing</label>
        <locationX>182</locationX>
        <locationY>2531</locationY>
        <defaultConnector>
            <targetReference>Fundraiser_Missing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Donor_Missing1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DonorExist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Campaign_Status_Records_to_be_Inserted</targetReference>
            </connector>
            <label>Donor Missing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fundraiser_Missing</name>
        <label>Fundraiser Missing</label>
        <locationX>182</locationX>
        <locationY>2831</locationY>
        <defaultConnector>
            <targetReference>Prospect_Missing1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fundraiser_Missing1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FundraiserExist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fundraiser_Campaign_Status_Records_to_be_Inserted</targetReference>
            </connector>
            <label>Fundraiser Missing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prospect_Campaign_Member_Status_Exists</name>
        <label>Prospect Campaign Member Status Exists</label>
        <locationX>402</locationX>
        <locationY>1547</locationY>
        <defaultConnector>
            <targetReference>Recurring_Donor_Campaign_Member_Status_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Prospect No</defaultConnectorLabel>
        <rules>
            <name>Prospect_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Missing_Campaign_Status.Label</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prospect_Fundraiser_Yes</targetReference>
            </connector>
            <label>Prospect Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prospect_Missing1</name>
        <label>Prospect Missing</label>
        <locationX>182</locationX>
        <locationY>3131</locationY>
        <defaultConnector>
            <targetReference>Recurring_Donor_Missing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prospect_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProspectExists</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prospect_Campaign_Member_Status_Record_to_be_inserted</targetReference>
            </connector>
            <label>Prospect Missing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recurring_Donor_Campaign_Member_Status_Exists</name>
        <label>Recurring Donor Campaign Member Status Exists</label>
        <locationX>402</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>Team_Leader_Campaign_Member_Status_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Recurring Donor No</defaultConnectorLabel>
        <rules>
            <name>Recurring_Donor_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Missing_Campaign_Status.Label</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recurring Donor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recurring_Donation_Fundraiser_Yes</targetReference>
            </connector>
            <label>Recurring Donor Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recurring_Donor_Missing</name>
        <label>Recurring Donor Missing</label>
        <locationX>182</locationX>
        <locationY>3431</locationY>
        <defaultConnector>
            <targetReference>Team_Leader_Missing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Recurring_Donor_Missing1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecurringDonationExist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recurring_Donor_Campaign_Member_Status_Record_to_be_inserted</targetReference>
            </connector>
            <label>Recurring Donor Missing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Team_Leader_Campaign_Member_Status_Exists</name>
        <label>Team Leader Campaign Member Status Exists</label>
        <locationX>402</locationX>
        <locationY>2147</locationY>
        <defaultConnector>
            <targetReference>Find_Missing_Campaign_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Team Leader No</defaultConnectorLabel>
        <rules>
            <name>Team_Leader_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Missing_Campaign_Status.Label</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Team Leader</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Team_Leader_Fundraiser_Yes</targetReference>
            </connector>
            <label>Team Leader Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Team_Leader_Missing</name>
        <label>Team Leader Missing</label>
        <locationX>182</locationX>
        <locationY>3731</locationY>
        <defaultConnector>
            <targetReference>Create_Campaign_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Team_Leader_Missing1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TeamLeaderExist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Team_Leader_Campaign_Member_Status_Record_to_be_inserted</targetReference>
            </connector>
            <label>Team Leader Missing</label>
        </rules>
    </decisions>
    <description>This flow adds campaign member status on Fundraising RecordType.</description>
    <environments>Default</environments>
    <interviewLabel>RTF-04-CAMP-AddCampaignMemberStatus {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF-04-CAMP-AddCampaignMemberStatus</label>
    <loops>
        <name>Find_Missing_Campaign_Status</name>
        <label>Find Missing Campaign Status</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <collectionReference>Get_Campaign_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Donor_Exists</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Donor_Missing</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Campaign_Members</name>
        <label>Create Campaign Members</label>
        <locationX>182</locationX>
        <locationY>4031</locationY>
        <inputReference>campaignMemberStatusList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Campaign_Members</name>
        <label>Get Campaign Members</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Missing_Campaign_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_decision_for_calling_campaign_mapping</targetReference>
        </connector>
        <object>Campaign</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>calling_Campaign_mapping_flow</name>
        <label>calling Campaign - mapping flow</label>
        <locationX>204</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>CheckRecordType</targetReference>
        </connector>
        <flowName>Donation_Campaign_Mapping</flowName>
        <inputAssignments>
            <name>HasCampaignAccount</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>HasCampaignContact</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>campaignMemberStatusList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMemberStatus</objectType>
    </variables>
    <variables>
        <name>campaignMemberStatusRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMemberStatus</objectType>
    </variables>
    <variables>
        <name>DonorExist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>FundraiserExist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ProspectExists</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>RecurringDonationExist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TeamLeaderExist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
