force-app/main/default/flows/RTF_CamMem_02_AfterCampaignMember.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Status</name>
        <label>Assign Status</label>
        <locationX>270</locationX>
        <locationY>1032</locationY>
        <assignmentItems>
            <assignToReference>parentCampMember.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Campaign_member.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentCampMember.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fundraiser</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentCampMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>parentCampMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Campaign_member</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckCampaign</name>
        <label>CheckCampaign</label>
        <locationX>1073</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>funraisin</name>
            <conditionLogic>(1 OR 2 ) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign.Funraisin_Id__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>page</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign.Funraisin_Id__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>history</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign.Contact_Fundraising__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ContactId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCampaignMemberStatus</targetReference>
            </connector>
            <label>funraisin</label>
        </rules>
        <rules>
            <name>CheckTeam</name>
            <conditionLogic>1 AND ( 2 OR 3 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign.Contact_Fundraising__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ContactId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign.Funraisin_Id__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>team</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign.Funraisin_Id__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>event</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCampaignMemberStatusTeam</targetReference>
            </connector>
            <label>CheckTeam</label>
        </rules>
        <rules>
            <name>CheckDonor</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign.Contact_Fundraising__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ContactId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign.Funraisin_Id__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>history</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign.Funraisin_Id__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>page</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign.Funraisin_Id__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>event</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign.Funraisin_Id__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCampaignMemberStatusDonar</targetReference>
            </connector>
            <label>CheckDonor</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckMemberStatus</name>
        <label>CheckMemberStatus</label>
        <locationX>336</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>CreateCampMemStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCampaignMemberStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStatusFundraiser</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckMemberStatusDonor</name>
        <label>CheckMemberStatusDonor</label>
        <locationX>1414</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>CreateCampMemDonorStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCampaignMemberStatusDonar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStatusDonor</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckMemberStatusForTeam</name>
        <label>CheckMemberStatusForTeam</label>
        <locationX>886</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>CreateCampMemTeamStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCampaignMemberStatusTeam</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStatusTeam</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_list_not_null</name>
        <label>Update list not null</label>
        <locationX>182</locationX>
        <locationY>1308</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>parentCampMembers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_same_campaign_member_of_parent</targetReference>
            </connector>
            <label>Not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_same_member_of_parent</name>
        <label>Update same member of parent</label>
        <locationX>402</locationX>
        <locationY>924</locationY>
        <defaultConnector>
            <targetReference>Campaign_member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Same_member</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Campaign_member.ContactId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ContactId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Campaign_member.LeadId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.LeadId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status</targetReference>
            </connector>
            <label>Same member</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RTF-CamMem-02-AfterCampaignMember {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF-CamMem-02-AfterCampaignMember</label>
    <loops>
        <name>Campaign_member</name>
        <label>Campaign member</label>
        <locationX>182</locationX>
        <locationY>816</locationY>
        <collectionReference>Parent_volunt</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_same_member_of_parent</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_list_not_null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateCampMemDonorStatus</name>
        <label>CreateCampMemDonorStatus</label>
        <locationX>1546</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>UpdateStatusDonor1</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.CampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <stringValue>Donor</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateCampMemStatus</name>
        <label>CreateCampMemStatus</label>
        <locationX>490</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>UpdateStatus</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.CampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <stringValue>Fundraiser</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateCampMemTeamStatus</name>
        <label>CreateCampMemTeamStatus</label>
        <locationX>1018</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>UpdateTeamStatus</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.CampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <stringValue>Team Leader</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getCampaignMemberStatus</name>
        <label>getCampaignMemberStatus</label>
        <locationX>336</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckMemberStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CampaignId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fundraiser</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCampaignMemberStatusDonar</name>
        <label>getCampaignMemberStatusDonar</label>
        <locationX>1414</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckMemberStatusDonor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CampaignId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Donor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCampaignMemberStatusTeam</name>
        <label>getCampaignMemberStatusTeam</label>
        <locationX>886</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckMemberStatusForTeam</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CampaignId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Team Leader</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Parent_volunt</name>
        <label>Parent campaign members</label>
        <locationX>182</locationX>
        <locationY>708</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Campaign.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_same_campaign_member_of_parent</name>
        <label>Update same campaign member of parent</label>
        <locationX>50</locationX>
        <locationY>1416</locationY>
        <inputReference>parentCampMembers</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStatus</name>
        <label>UpdateStatus</label>
        <locationX>490</locationX>
        <locationY>708</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Fundraiser</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStatusDonor</name>
        <label>UpdateStatusDonor</label>
        <locationX>1282</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Donor</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStatusDonor1</name>
        <label>UpdateStatusDonor</label>
        <locationX>1546</locationX>
        <locationY>708</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Donor</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStatusFundraiser</name>
        <label>UpdateStatusFundraiser</label>
        <locationX>182</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Parent_volunt</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Fundraiser</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStatusTeam</name>
        <label>UpdateStatusTeam</label>
        <locationX>754</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Team Leader</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateTeamStatus</name>
        <label>UpdateTeamStatus</label>
        <locationX>1018</locationX>
        <locationY>708</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Team Leader</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>193</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0052x000005MHn0AAG</stringValue>
            </value>
        </filters>
        <object>CampaignMember</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>CheckCampaign</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>parentCampMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>parentCampMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
</Flow>
