force-app/main/default/flows/Send_Welcome_Email_To_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>send welcome email to family</description>
        <name>Send_Email_To_Family</name>
        <label>Send Email To Family</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <actionName>npsp_plus__SendEmailTemplateInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailName</name>
            <value>
                <stringValue>Welcome_v2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>contactRec.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__SendEmailTemplateInvocable</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Send welcome email to volunteer</description>
        <name>Send_Email_To_volun</name>
        <label>Send Email To volun</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <actionName>npsp_plus__SendEmailTemplateInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailName</name>
            <value>
                <stringValue>Welcome_v2	</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>contactRec.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>npsp_plus__SendEmailTemplateInvocable</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <description>assign permission set to the variable permissionSetId</description>
        <name>Assig_Permission_Set</name>
        <label>Assig Permission Set</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>permissionSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Family_Permission_Set.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>family_Permission_Set_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign user id to variable userId</description>
        <name>Assign_User_Id</name>
        <label>Assign User Id</label>
        <locationX>644</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>userId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_User</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_the_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign volunteer permission set to variable volunteerpermiSet</description>
        <name>Assign_Volunteer_Permission_Set</name>
        <label>Assign Volunteer Permission Set</label>
        <locationX>710</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>volunteerpermiSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Volunteer_Permission_Set.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Volun_Permission_Set_Assignment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>check family template id should not be null</description>
        <name>Check_Email_Template</name>
        <label>Check Email Template</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>emailTempId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_To_Family</targetReference>
            </connector>
            <label>Send Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Email_Template_For_volun</name>
        <label>Check  Email Template For volun</label>
        <locationX>710</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>send_email_to_volunteer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>volunteerEmailTemp</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_To_volun</targetReference>
            </connector>
            <label>send email to volunteer</label>
        </rules>
    </decisions>
    <decisions>
        <description>check the record type for contact rec</description>
        <name>Check_the_Record_Type</name>
        <label>Check the Record Type</label>
        <locationX>644</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>for_family_member</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Family Member</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Family_Permission_Set</targetReference>
            </connector>
            <label>for family member</label>
        </rules>
        <rules>
            <name>for_volunteer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Volunteer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Volunteer_Permission_Set</targetReference>
            </connector>
            <label>for volunteer</label>
        </rules>
    </decisions>
    <description>Send welcome email to family or valunteer contact</description>
    <environments>Default</environments>
    <formulas>
        <name>localSidkey</name>
        <dataType>String</dataType>
        <expression>TEXT({!$User.LocaleSidKey})</expression>
    </formulas>
    <formulas>
        <name>timeZoneSidkey</name>
        <dataType>String</dataType>
        <expression>TEXT({!$User.TimeZoneSidKey})</expression>
    </formulas>
    <formulas>
        <name>userAliesName</name>
        <dataType>String</dataType>
        <expression>IF(
  !ISBLANK(LEFT({!contactRec.FirstName}, 1) &amp;  LEFT({!contactRec.LastName}, 3)),    
  &quot; &quot;,
  LEFT({!contactRec.FirstName}, 1) &amp; {!contactRec.LastName}
)</expression>
    </formulas>
    <interviewLabel>Send  Welcome Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send  welcome email to contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>create user record</description>
        <name>Create_User</name>
        <label>Create User</label>
        <locationX>644</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Assign_User_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>Alias</field>
            <value>
                <elementReference>userAliesName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommunityNickname</field>
            <value>
                <elementReference>contactRec.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>contactRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>contactRec.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailEncodingKey</field>
            <value>
                <stringValue>ISO-8859-1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>contactRec.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LanguageLocaleKey</field>
            <value>
                <elementReference>localSidkey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>contactRec.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <elementReference>localSidkey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProfileId</field>
            <value>
                <elementReference>Get_Profile_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeZoneSidKey</field>
            <value>
                <elementReference>userTimezone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username</field>
            <value>
                <elementReference>contactRec.Email</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>create Rec for family Permission Set Assignment</description>
        <name>family_Permission_Set_Assignment</name>
        <label>family Permission Set Assignment</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Get_Email_Temp</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>permissionSetId</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>create  Rec for volunteer permission set Assignment</description>
        <name>Volun_Permission_Set_Assignment</name>
        <label>Volun Permission Set Assignment</label>
        <locationX>710</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Get_Email_Template</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>volunteerpermiSet</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>get email  welcom v2 template for family</description>
        <name>Get_Email_Temp</name>
        <label>Get Email Temp</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Email_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Welcome_v2	</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get email template for volunteer</description>
        <name>Get_Email_Template</name>
        <label>Get Email Template</label>
        <locationX>710</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Email_Template_For_volun</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Welcome_v2	</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get family permission set</description>
        <name>Get_Family_Permission_Set</name>
        <label>Get Family Permission Set</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assig_Permission_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Family Portal Permissions</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get record for profile My Camp Quality Members</description>
        <name>Get_Profile_Record</name>
        <label>Get Profile Record</label>
        <locationX>644</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>My Camp Quality Members</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get  volunteer permission set</description>
        <name>Get_Volunteer_Permission_Set</name>
        <label>Get Volunteer Permission Set</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Volunteer_Permission_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Volunteer Portal Permissions</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Profile_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>contcat Record</description>
        <name>contactRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>emailTempId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Email_Temp.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>permissionSetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>userTimezone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>timeZoneSidkey</elementReference>
        </value>
    </variables>
    <variables>
        <name>volunteerEmailTemp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Email_Template.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>volunteerpermiSet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
