force-app/main/default/flows/Send_Pardot_to_List.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>send_prospect_to_pardot</name>
        <label>send prospect to pardot</label>
        <locationX>242</locationX>
        <locationY>384</locationY>
        <actionName>PardotAddProspectToList</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>listId</name>
            <value>
                <numberValue>5421.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>optedOut</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>prospectId</name>
            <value>
                <elementReference>prospInt</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PardotAddProspectToList</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>PardotId_Exists</name>
        <label>PardotId Exists</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProspectID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>send_prospect_to_pardot</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ProspectID</name>
        <dataType>String</dataType>
        <expression>MID({!$Record.pi__url__c}, FIND(&apos;=&apos;, {!$Record.pi__url__c}) + 1, LEN({!$Record.pi__url__c}) - FIND(&apos;=&apos;, {!$Record.pi__url__c}))</expression>
    </formulas>
    <formulas>
        <name>prospInt</name>
        <dataType>Number</dataType>
        <expression>Value(MID({!$Record.pi__url__c}, FIND(&apos;=&apos;, {!$Record.pi__url__c}) + 1, LEN({!$Record.pi__url__c}) - FIND(&apos;=&apos;, {!$Record.pi__url__c})))</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Send Pardot to List {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Prospect to Segmented List</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp__Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012280000007dCjAAI</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>X5_minutes_after</name>
            <connector>
                <targetReference>PardotId_Exists</targetReference>
            </connector>
            <label>5 minutes after</label>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
