force-app/main/default/flows/Update_Email_Subscription_Preferences.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Communication_Subscription</name>
        <label>Assign Communication Subscription</label>
        <locationX>50</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>CommunicationSubscriptionID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Communication_Subscription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Subscription_Channel_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Subscription_Channel_Type</name>
        <label>Assign Subscription Channel Type</label>
        <locationX>182</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>SubscriptionChannelTypeID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Subscription_Channel_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Communication_Subscription_Consent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContactPoidtEmailIDAssignment</name>
        <label>Assign Contact Point Email ID</label>
        <locationX>204</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>ContactPointEmailID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Contact_Point_Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Subscription_Channel_Type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_1</name>
        <label>Contact Point Email Exists?</label>
        <locationX>336</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Subscription_Channel_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exists</defaultConnectorLabel>
        <rules>
            <name>Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactPointEmailID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact_Point_Email</targetReference>
            </connector>
            <label>Does Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Channel_Type_Exist</name>
        <label>Does Channel Type Exist?</label>
        <locationX>336</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Get_Communication_Subscription_Consent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exists</defaultConnectorLabel>
        <rules>
            <name>Channel_Type_Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubscriptionChannelTypeID</leftValueReference>
                <operator>IsNull</operator>
            </conditions>
            <connector>
                <targetReference>Get_Communication_Subscription</targetReference>
            </connector>
            <label>Does Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Communication_Subscription_Exist</name>
        <label>Does Communication Subscription Exist?</label>
        <locationX>182</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>Create_Subscription_Channel_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exists</defaultConnectorLabel>
        <rules>
            <name>Communication_Subscription_Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CommunicationSubscriptionID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Communication_Subscription</targetReference>
            </connector>
            <label>Does Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_EmailPref_Bequests_opted_in</name>
        <label>Has EmailPref_Bequests Opted In</label>
        <locationX>336</locationX>
        <locationY>2087</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Has_EmailPref_Bequests_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EmailPref_Bequests__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.EmailPref_Bequests__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Opted In</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Email Subscription Preferences {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Email Subscription Preferences</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Communication_Subscription</name>
        <label>Create Communication Subscription</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Assign_Communication_Subscription</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Email Marketing</stringValue>
            </value>
        </inputAssignments>
        <object>CommSubscription</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Point_Email</name>
        <label>Create Contact Point Email</label>
        <locationX>204</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>ContactPoidtEmailIDAssignment</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailAddress</field>
            <value>
                <elementReference>$Record.npe01__Preferred_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ContactPointEmail</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Records_4</name>
        <label>Create Records 4</label>
        <locationX>336</locationX>
        <locationY>1979</locationY>
        <connector>
            <targetReference>Has_EmailPref_Bequests_opted_in</targetReference>
        </connector>
    </recordCreates>
    <recordCreates>
        <name>Create_Subscription_Channel_Type</name>
        <label>Create Subscription Channel Type</label>
        <locationX>182</locationX>
        <locationY>1571</locationY>
        <connector>
            <targetReference>Assign_Subscription_Channel_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>EngagementChannelTypeId</field>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Email Marketing Subscription</stringValue>
            </value>
        </inputAssignments>
        <object>CommSubscriptionChannelType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Communication_Subscription</name>
        <label>Get Communication Subscription</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Communication_Subscription_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email Marketing</stringValue>
            </value>
        </filters>
        <object>CommSubscription</object>
        <outputAssignments>
            <assignToReference>CommunicationSubscriptionID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Communication_Subscription_Consent</name>
        <label>Get Communication Subscription Consent</label>
        <locationX>336</locationX>
        <locationY>1871</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Records_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>CommSubscriptionConsent</object>
        <outputReference>CommunicationSubscriptionConsentVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email_Preference_Convoy_Adelaide__c</queriedFields>
        <queriedFields>Email_Preference_Bequests__c</queriedFields>
        <queriedFields>Email_Preference_Cancer_Support__c</queriedFields>
        <queriedFields>Email_Preference_Competitions__c</queriedFields>
        <queriedFields>Email_Preference_Convoy_Geelong__c</queriedFields>
        <queriedFields>Email_Preference_Convoy_Perth__c</queriedFields>
        <queriedFields>Email_Preference_Escarpade__c</queriedFields>
        <queriedFields>Email_Preference_Email_Opt_Out__c</queriedFields>
        <queriedFields>Email_Preference_Families__c</queriedFields>
        <queriedFields>Email_Preference_Fundraising_Appeals__c</queriedFields>
        <queriedFields>Email_Preference_Funx4__c</queriedFields>
        <queriedFields>Email_Preference_Motocyc__c</queriedFields>
        <queriedFields>Email_Preference_Motoring_Events__c</queriedFields>
        <queriedFields>Email_Preference_Physical_Challenges__c</queriedFields>
        <queriedFields>Email_Preference_Regular_Giving__c</queriedFields>
        <queriedFields>Email_Preference_Schools__c</queriedFields>
        <queriedFields>Email_Preference_Surveys__c</queriedFields>
        <queriedFields>Email_Preference_The_Giggle__c</queriedFields>
        <queriedFields>Email_Preference_Volunteering__c</queriedFields>
        <queriedFields>Email_Preference_Wescarpade__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Point_Email</name>
        <label>Get Contact Point Email</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EmailAddress</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npe01__Preferred_Email__c</elementReference>
            </value>
        </filters>
        <object>ContactPointEmail</object>
        <outputAssignments>
            <assignToReference>ContactPointEmailID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Subscription_Channel_Type</name>
        <label>Get Subscription Channel Type</label>
        <locationX>336</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Channel_Type_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email Marketing Subscription</stringValue>
            </value>
        </filters>
        <object>CommSubscriptionChannelType</object>
        <outputAssignments>
            <assignToReference>SubscriptionChannelTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_Point_Email</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>EmailPref_Bequests__c</field>
            <operator>IsChanged</operator>
        </filters>
        <filters>
            <field>EmailPref_CancerSupport__c</field>
            <operator>IsChanged</operator>
        </filters>
        <filters>
            <field>EmailPref_Competitions__c</field>
            <operator>IsChanged</operator>
        </filters>
        <filters>
            <field>EmailPref_Convoy_Adelaide__c</field>
            <operator>IsChanged</operator>
        </filters>
        <filters>
            <field>EmailPref_Convoy_Geelong__c</field>
            <operator>IsChanged</operator>
        </filters>
        <filters>
            <field>EmailPref_Convoy_Perth__c</field>
            <operator>IsChanged</operator>
        </filters>
        <filters>
            <field>EmailPref_Escarpade__c</field>
            <operator>IsChanged</operator>
        </filters>
        <filters>
            <field>EmailPref_Families__c</field>
            <operator>IsChanged</operator>
        </filters>
        <filters>
            <field>EmailPref_FundraisingAppeals__c</field>
            <operator>IsChanged</operator>
        </filters>
        <filters>
            <field>EmailPref_Funx4__c</field>
            <operator>IsChanged</operator>
        </filters>
        <filters>
            <field>EmailPref_Motocyc__c</field>
            <operator>IsChanged</operator>
        </filters>
        <filters>
            <field>EmailPref_MotoringEvents__c</field>
            <operator>IsChanged</operator>
        </filters>
        <filters>
            <field>EmailPref_PhysicalChallenges__c</field>
            <operator>IsChanged</operator>
        </filters>
        <filters>
            <field>EmailPref_RegularGiving__c</field>
            <operator>IsChanged</operator>
        </filters>
        <filters>
            <field>EmailPref_Schools__c</field>
            <operator>IsChanged</operator>
        </filters>
        <filters>
            <field>EmailPref_Surveys__c</field>
            <operator>IsChanged</operator>
        </filters>
        <filters>
            <field>EmailPref_TheGiggle__c</field>
            <operator>IsChanged</operator>
        </filters>
        <filters>
            <field>EmailPref_Vols__c</field>
            <operator>IsChanged</operator>
        </filters>
        <filters>
            <field>EmailPref_Wescarpade__c</field>
            <operator>IsChanged</operator>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>CommunicationSubscriptionConsentVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CommSubscriptionConsent</objectType>
    </variables>
    <variables>
        <name>CommunicationSubscriptionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactPointEmailID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubscriptionChannelTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
