force-app/main/default/flows/Update_Contact_Email_Preference_from_Autho.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <description>V1 Update Not Null Requirement</description>
    <environments>Default</environments>
    <interviewLabel>Update Contact Email Preference from Autho {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Contact Email Preference from Autho</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Authorization_Consent_Form</name>
        <label>Get Authorization Consent Form</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Email_Pref_Contact_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case_Safe_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AuthorizationFormConsent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Email_Pref_Contact_Fields</name>
        <label>Update Email Pref Contact Fields</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>EmailPref_Competitions__c</field>
            <value>
                <elementReference>Get_Authorization_Consent_Form.Email_Preference_Competitions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailPref_Families__c</field>
            <value>
                <elementReference>Get_Authorization_Consent_Form.Email_Preference_Families__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailPref_FundraisingAppeals__c</field>
            <value>
                <elementReference>Get_Authorization_Consent_Form.Email_Preference_Fundraising_Appeals__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Authorization_Consent_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
