force-app/main/default/flows/Update_Constituent_Type_Regular_Giver.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Cocittuinet_Vlaues</name>
        <label>Add Constituent Values from before</label>
        <locationX>440</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>CurrentConstituentValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_current_constituent_values_and_add_new.Constituent_Types__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConstituentValue</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_current_constituent_values_and_add_new</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Regular_Giver_Constituent</name>
        <label>Add Regular Giver Constituent</label>
        <locationX>440</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>CurrentConstituentValue</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Regular Giver</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConstituentValue</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Cocittuinet_Vlaues</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>is the status of the recurring donation active?</description>
        <name>Is_Recurring_Donation_Active</name>
        <label>Is Recurring Donation Active?</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Loop_through_current_constituent_values_and_add_new</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ACTIVE</defaultConnectorLabel>
        <rules>
            <name>INACTIVE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npsp__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <label>INACTIVE</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Constituent Type - Regular Giver {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Constituent Type - Regular Giver</label>
    <loops>
        <name>Loop_through_current_constituent_values_and_add_new</name>
        <label>Loop through current constituent values and add new</label>
        <locationX>352</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Contact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Regular_Giver_Constituent</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdatePrimaryContact</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get contact from recurring donation</description>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Recurring_Donation_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactFullID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npe03__Contact__r.Case_Safe_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update primary contact linked to recurring donation with new constituent values</description>
        <name>UpdatePrimaryContact</name>
        <label>UpdatePrimaryContact</label>
        <locationX>352</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>Constituent_Types__c</field>
            <value>
                <elementReference>CurrentConstituentValue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.npe03__Contact__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <object>npe03__Recurring_Donation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <description>Current Constituent values on contacts</description>
        <name>CurrentConstituentValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
