force-app/main/default/flows/Updating_Volunteer_Attendance_on_Former_Volunteers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <constants>
        <name>MegsUserIDLONG</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0050K000009oEudQAE</stringValue>
        </value>
    </constants>
    <description>When a vollie is made former, updating all open volunteer attendances related to the record. 
New addition: updating to mark all volunteers as Former &amp; add end date as well.</description>
    <environments>Default</environments>
    <formulas>
        <name>TodayTaskDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()+2</expression>
    </formulas>
    <interviewLabel>Updating Volunteer Attendance on Former Volunteers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Updating Volunteer Attendance on Former Volunteers v5</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Updating In progress statuses like Request to Attend &amp; Accepted to Cancelled.</description>
        <name>Update_Volunteer_Attendance_to_Cancelled</name>
        <label>Update Volunteer Attendance to Cancelled</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>Update_Volunteer_Types</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>EventStartDate__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Date_To__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Attendance__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Request to Attend</stringValue>
            </value>
        </filters>
        <filters>
            <field>Attendance__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Attendance__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cancellation_Reason__c</field>
            <value>
                <elementReference>CancellationReasononFormerVol</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Volunteer_Attendances__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Volunteer_Attendance_to_Declined</name>
        <label>Update Volunteer Attendance to Declined</label>
        <locationX>314</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>Update_Volunteer_Types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EventStartDate__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Date_To__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Attendance__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Invited</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Attendance__c</field>
            <value>
                <stringValue>Declined</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Volunteer_Attendances__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Volunteer_Types</name>
        <label>Update Volunteer Types</label>
        <locationX>182</locationX>
        <locationY>479</locationY>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$Record.Date_To__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Volunteer_Status__c</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Volunteers_Type__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Volunteer_Attendance_to_Cancelled</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Volunteer_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Volunteer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Date_To__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateValue>2023-12-31</dateValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Update_Invited_Volunteer_Attendance</name>
            <connector>
                <targetReference>Update_Volunteer_Attendance_to_Declined</targetReference>
            </connector>
            <label>Update Invited Volunteer Attendance</label>
            <maxBatchSize>10</maxBatchSize>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Adding in a cancellation reason to volunteers made former who had requested or been accepted on an event.</description>
        <name>CancellationReasononFormerVol</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Volunteer has been made Former on {!$Record.Date_To__c}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>currentItem_Collection_Filter_1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Volunteer_Attendance__c</objectType>
    </variables>
    <variables>
        <name>currentItem_FindVACreatedID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Volunteer_Attendance__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Remove_Invited_attendances</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Volunteer_Attendance__c</objectType>
    </variables>
    <variables>
        <name>FindVolunteerattendancesforUpdating</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Volunteer_Attendance__c</objectType>
    </variables>
    <variables>
        <name>OwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>currentItem_FindVACreatedID.CreatedBy.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>UserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>currentItem_FindVACreatedID.CreatedBy.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>VariableUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>currentItem_FindVACreatedID.CreatedBy.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>VolunteerAttendanceCreatedID</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Volunteer_Attendance__c</objectType>
    </variables>
</Flow>
