force-app/main/default/flows/Update_Volunteer_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <description>Migrated from the: Update Volunteer Type workflow rule
Workflow rule description: &quot;</description>
    <label>Update Volunteer Type</label>
    <migratedFromWorkflowRuleName>Update Volunteer Type</migratedFromWorkflowRuleName>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>ScheduledPath1Update</name>
        <label>ScheduledPath1Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>ScheduledPath2Update</name>
        <label>ScheduledPath2Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 OR 2</filterLogic>
        <filters>
            <field>null__NotFound</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Volunteer_Type__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>ScheduledPath1</name>
            <connector>
                <targetReference>ScheduledPath1Update</targetReference>
            </connector>
            <label>ScheduledPath1</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>End_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>ScheduledPath2</name>
            <connector>
                <targetReference>ScheduledPath2Update</targetReference>
            </connector>
            <label>ScheduledPath2</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Start_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
