force-app/main/default/flows/Volunteer_Compliance_Loop.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Volunteer Compliance Loop {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Volunteer Compliance Loop</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>find_eligibility_criteria</name>
        <label>Find Eligibility Criteria</label>
        <locationX>752</locationX>
        <locationY>300</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Volunteer_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Eligibility_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Volunteer_Eligibility__c</object>
        <outputReference>find_eligibility_criteria</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Volunteer_Role__c</queriedFields>
        <queriedFields>Volunteer_Eligibility_Criteria__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Volunteer_Type</name>
        <label>Update Volunteer Type</label>
        <locationX>752</locationX>
        <locationY>408</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Volunteer_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Volunteer_Compliance_Missing__c</field>
            <value>
                <elementReference>find_eligibility_criteria</elementReference>
            </value>
        </inputAssignments>
        <object>Volunteer_Type__c</object>
    </recordUpdates>
    <start>
        <locationX>626</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>find_eligibility_criteria</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-07-17</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>InvalidDraft</status>
</Flow>
